---
import { InferGetStaticPropsType } from "astro";
import { Fragment } from "react";

import { sortBy } from "lodash";
import {
NarrativeCompleteFragment,
ObjectCompleteFragment,
} from "../../__generated__/graphql";
import InternalImage from "../../components/InternalImage.astro";
import InternalLink from "../../components/InternalLink.astro";
import PaletteHSV from "../../components/colour/PaletteHSV.astro";
import NarrativeCard from "../../components/narrative/NarrativeCard.astro";
import NarrativeContent from "../../components/narrative/documentRenderer/NarrativeContent.astro";
import { getItem, getStaticPathsFactory } from "../../data";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths =
  getStaticPathsFactory<ObjectCompleteFragment>("Object");

// derive Props type from getStaticPaths
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params;
const object = await getItem<ObjectCompleteFragment>(
  Astro.props.item,
  "Object",
  { slug },
);

if (!object)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
---

<Layout
  title={object.label || "Object"}
  id="page-notice-object"
  className="page-notice"
>
  <!-- NAV ____________________________________ -->
  <nav>
    <InternalLink href="/objects">
      <h1 data-type="objects"><span class="icon"></span>Objects</h1>
    </InternalLink>
    <p class="title">{object.label}</p>
  </nav>
  <!--  end nav -->

  <!-- CONTENT _____________________________________________________________________________ -->
  <div class="content-container" id="content">
    <header>
      {
        object.cover && object.cover.image && (
          <figure class="page-cover">
            <InternalImage media={object.cover} cover />
          </figure>
        )
      }
      <h1>{object.label}</h1>
      <div class="label-list">
        {object.type && <p class="type">{object.type?.label}</p>}
        {object.date && <p>{object.date}</p>}
      </div>
    </header>

    <!-- TEXT____________________________________ -->
    {
      object.description && (
        <div class="text">
          <NarrativeContent document={object.description.document} />
        </div>
      )
    }
    <!-- end text -->

    <!-- PALETTE HSV_____________________________ -->
    {
      object.colours && object.colours.length > 0 && (
        <PaletteHSV colours={object.colours} withTitle withSeemore />
      )
    }
    <!-- end palette hsv -->

    <!-- INFOS LIST____________________________ -->
    <dl id="infos">
      <div>
        <dt>Title</dt>
        <dd>{object.label}</dd>
      </div>
      {
        object.type && (
          <div>
            <dt>Type</dt>
            <dd>{object.type?.label}</dd>
          </div>
        )
      }
      {
        object.date && (
          <div>
            <dt>Date</dt>
            <dd>{object.date}</dd>
          </div>
        )
      }{
        object.author && (
          <div>
            <dt>Author⋅s / Artist⋅s</dt>
            <dd>{object.author}</dd>
          </div>
        )
      }
      {
        object.medium && (
          <div>
            <dt>Medium</dt>
            <dd>{object.medium}</dd>
          </div>
        )
      }
      {
        object.dimensions && (
          <div>
            <dt>Dimensions</dt>
            <dd>{object.dimensions}</dd>
          </div>
        )
      }
      {
        object.location && (
          <div>
            <dt>Location</dt>
            <dd>{object.location}</dd>
          </div>
        )
      }
      {
        object.reference && object.reference.citation && (
          <div>
            <dt>Source</dt>
            <dd class="bibliography">
              <NarrativeContent document={object.reference.citation.document} />
            </dd>
          </div>
        )
      }
    </dl>
    <!-- end info list -->

    <!-- IMAGES ____________________________________ -->

    <div id="all-img">
      <h1>Media(s)</h1>
      <!-- ici j'ai pas vraiment fait de code, à construire comme bon vous semble
              Questions à se poser: 
              - est-qu'il y a des différences entre portrait et images 
              - est-ce aue c'est des images au format icone et on les présente dans un viewer ?
              - si c'est des images spéciale de chromotope, est-ce auœn zoom dedans ??
              Tout est à discuter
          -->
      <!-- {
        object.cover && (
          <figure class="viewer-img">
            <InternalImage media={object.cover} />
          </figure>
        )
      } -->
      {
        object.medias && object.medias.length > 0 && (
          <div class="container-medias">
            {sortBy(object.medias, (m) => m.order).map((m) => (
              <InternalImage media={m} widths={[{ width: 780 }]} />
            ))}
          </div>
        )
      }
    </div>
    <!--  end images -->

    <!-- NARRATIVES LIST____________________________________ -->

    {
      object.narratives && (
        <section id="narratives-list">
          <h1>cited in narratives</h1>
          {object.narratives.map((n) => (
            <NarrativeCard narrative={n as NarrativeCompleteFragment} />
          ))}
        </section>
      )
    }
    <!--  end narraives list -->
  </div>
  <!--  end content -->
</Layout>
