---
import { Fragment } from "react";

import InternalLink from "../../components/InternalLink.astro";
import FilterNoticeList from "../../components/filterNoticeList/FilterNoticeList.astro";
import NoticesMenu from "../../components/layout/NoticesMenu.astro";
import ObjectCard from "../../components/object/ObjectCard.astro";
import { getObjects } from "../../data/object";
import Layout from "../../layouts/Layout.astro";

const objects = await getObjects();
const objectTypes = objects.reduce((types, object) => {
  if (object.type && object.type.label) types.add(object.type.label);
  return types;
}, new Set<string>());
---

<Layout title="Objects" id="list-objects" className="page-list">
  <!-- NAV ____________________________________ -->
  <nav>
    <h1 data-type="objects"><span class="icon"></span>Objects</h1>
    <InternalLink class="back" href="/">Back home</InternalLink>
  </nav>
  <!--  end nav -->

  <FilterNoticeList
    multiValueFilter={{
      field: "type",
      options: [...objectTypes],
      label: "Type",
    }}
    digitalizedByChromotope
  />

  <!-- CONTENT ________________________________________ -->

  <section class="content-container">
    <div class="list-container">
      <h1 data-type="objects"><span class="icon"></span>Objects</h1>
        {
          Array.isArray(objects) &&
            objects.map((object) => <ObjectCard object={object} />)
        }
    </div>
  </section>

  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->
  <NoticesMenu selected="objects"/>

</Layout>
