---
import { InferGetStaticPropsType } from "astro";
import { Fragment } from "react";

import { getItem, getStaticPathsFactory } from "../../data";

import { NarrativeCompleteFragment } from "../../__generated__/graphql";
import InternalImage from "../../components/InternalImage.astro";
import InternalLink from "../../components/InternalLink.astro";
import NarrativeContent from "../../components/narrative/documentRenderer/NarrativeContent.astro";
import Layout from "../../layouts/Layout.astro";
import ReferenceCard from "../../components/reference/ReferenceCard.astro";
import { uniqBy } from "lodash";
import NarrativeTitle from "../../components/narrative/NarrativeTitle.astro";

// prepare static paths and props
export const getStaticPaths =
  getStaticPathsFactory<NarrativeCompleteFragment>("Narrative");
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { slug } = Astro.params;

// get Item value either from static or by API call when SSR
let narrative = await getItem<NarrativeCompleteFragment>(
  Astro.props.item,
  "Narrative",
  {
    slug,
  },
);

// handle 404
if (!narrative)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
---

<Layout title={narrative.title || "ChromoBase"} id="page-narrative">
  <nav>
    <InternalLink href="/narratives"><h1>Narratives</h1></InternalLink>
    <p class="title"><NarrativeTitle title={narrative.title||''}/></p>
  </nav>

  <div class="content-container">
    <header>
      {
        narrative.cover && narrative.cover.image && (
          <figure class="page-cover">
            <InternalImage
              media={narrative.cover}
              cover
              widths={[
                { max: 720, width: 720 },
                {
                  width: Math.round(
                    (290 * narrative.cover.image?.width) /
                      narrative.cover.image?.height,
                  ),
                },
              ]}
            />
          </figure>
        )
      }
      <div class="group-title">
      <h1><NarrativeTitle title={narrative.title||""}/></h1>
      {
        narrative.authors?.map((a) => (
          <p class="author">
            {a.name}{" "}
            {a.presentation && (
              <span class="filiation">
                {a.presentation}
                {a.personalPageURL && (
                  <a
                    target="_blank"
                    href={a.personalPageURL}
                    class="external-link"
                  />
                )}
              </span>
            )}
          </p>
        ))
      }
      </div>
      <div class="details">
        {
          narrative.category && (
            <p
              class="category-narrative"
              data-category={narrative.category.slug}
            >
              <span class="icon" />
              {narrative.category.title}
            </p>
          )
        }
        <p class="date-narrative" data-date={narrative.date}>
          {narrative.date}
        </p>
      </div>
    </header>

    <div id="text-content">
      {
        narrative.content && (
          <NarrativeContent document={narrative.content.document} />
        )
      }

      {
        ((narrative.references && narrative.references.length > 0) ||
          (narrative.extraReferences &&
            narrative.extraReferences.length > 0)) && (
          <div class="bibliography">
            <h2>Bibliography</h2>
            <ul>
              {uniqBy([
                ...(narrative.references || []),
                ...(narrative.extraReferences || []),
              ], r => r.label).sort((r1,r2) => new Intl.Collator('en', { caseFirst: 'upper' }).compare(r1.label||"",r2.label||"")).map((r) => r.citation && <ReferenceCard reference={r} />)}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</Layout>
<script>
  //over on aside buttons
  let buttons = document.querySelectorAll(".list-aside button");
  buttons.forEach(function (button) {
    const id = button.getAttribute("data-id");
    const link = document.querySelector('a[data-id="' + id + '"]');
    if (link) {
      button.addEventListener("mouseover", function () {
        link.classList.add("over");
      });
      button.addEventListener("mouseleave", function () {
        link.classList.remove("over");
      });
    }
  });
  //over on text markers
  document.querySelectorAll(".notice-link").forEach((notice) => {
    const id = notice.getAttribute("data-id");
    const button = document.querySelector(
      '.list-aside button[data-id="' + id + '"]',
    );
    if (button) {
      notice.addEventListener("mouseover", function () {
        button.classList.add("over");
      });
      notice.addEventListener("mouseleave", function () {
        button.classList.remove("over");
      });
    }
  });
</script>
