---
import { hsvaToHslString } from "@uiw/color-convert";
import { ColourCompleteFragment } from "../../__generated__/graphql";
interface Props {
  color: ColourCompleteFragment;
}
const { color } = Astro.props;
const h = color.color?.h;
const s = color.color?.s;
const v = (color.color?.v || 0) / 100;
---

<div class="color-hsv">
  <div
    class="color"
    style={`--color: ${
      color.color && hsvaToHslString({ ...color.color, a: 1 })
    }`}
  >
  </div>
  <p class="color-values">
    <span class="value value-h" data-value="H" title={`Hue: ${h}°`}>
      <span>{h}°</span>
    </span>
    <span class="value value-s" data-value="S" title={`Saturation: ${s}%`}>
      <span>{s}%</span>
    </span>
    <span class="value value-v" data-value="V" title={`Value: ${v}`}>
      <span>{v}</span>
    </span>
  </p>
  {color.name && <p class="name">{color.name}</p>}
</div>
