---
import { ColourCompleteFragment } from "../../__generated__/graphql";
import ColorHSV from "./ColourHSV.astro";

import InternalLink from "../InternalLink.astro";
interface Props {
  withTitle?: boolean;
  withSeemore?: boolean;
  colours: ColourCompleteFragment[];
}
const { colours, withTitle, withSeemore } = Astro.props;
---

<div class="palette-hsv">
  {withTitle && <h1>HSV colours</h1>}
  {colours.map((color) => <ColorHSV color={color} />)}

  {
    withSeemore && (
      <button class="see-more">
        <InternalLink href="/colour-wheel">See in colour wheel</InternalLink>
      </button>
    )
  }
</div>
