// SECTION HEADERS ------------------------------------------------------

.home-section > header {
    height: var(--h-header-section);
    width: 100%;
    border-bottom: var(--border-layout);
    display: flex;
    justify-content: space-between;


    h1 {
        @include title-group;
        @include case;
    }

    button.open-large,
    a.open-page {
        // à supprimer ?
        width: var(--h-header-section);
        height: 100%;
        border-left: var(--border-layout);
        cursor: pointer;
        background: none;
        display: none;
  

        span{
            display: block;
            width: 100%; 
            height: 100%;
            &:hover{ @include case-hover(); }

        }

        span::after {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%; 
            height: 100%;
            content: "↗",
        }
    }
}





// SECTION BASELINE ------------------------------------------------------

#home-baseline{
    padding: calc(var(--padding)*1.5);
    font-size: calc(var(--font-size)*1.2);
    border-left: var(--border-layout);

    .see-more{
        margin-top: calc(var(--baseline)*0.5);
    }

}






// SECTION COLOR WHEEL ------------------------------------------------------

#home-wheel { 
    border-top: var(--border-layout-double);
    border-left: var(--border-layout);

}

#home-wheel .content-container-home{
    overflow: hidden;
    background-color: rgb(var(--bg-rgb));
}


#home #color-wheel{
    width: 160%;
    left: -197px;
    top: -9px;
    left: -30%;
    top: -5%;
}

#home-wheel .see-more{
    z-index: 100;
    position: fixed;
    bottom: calc(var(--case-unit)*2);
    right: var(--padding);
}

// SECTION TIMELINE ------------------------------------------------------


#home-timeline { 
    border-top: var(--border-layout-double)
}