#home main {
  height: calc(100vh - var(--header-h));
  width: 100vw;
  position: fixed;
  top: var(--header-h);
  margin: 0;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 200px 1fr var(--timeline-height) calc(var(--case-unit) * 2);
}

#home-narratives {
  grid-column: 1/19;
  grid-row: 1/3;
}
#home-wheel {
  grid-column: 19/25;
  grid-row: 2/5;
}
#home-baseline {
  grid-column: 19/25;
  grid-row: 1;
}
#home-timeline {
  grid-column: 1/19;
  grid-row: 3;
}

.home-section {
  overflow: hidden;
  --h-header-section: calc(var(--case-unit) * 2);
}

.home-section > .content-container-home {
  width: 100%;
  height: calc(100% - var(--h-header-section));
}




// NARRATIVES

#home-narratives{


  .content-container-home {
    overflow-y: scroll;
    background-color: rgba(var(--bg-rgb), 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--padding) * 1.5);
    padding: calc(var(--padding) * 1.5);
  }

  .see-more {
    grid-column: span 2;

    display: flex;
    justify-content: center;
    padding-bottom: calc(var(--baseline) * 2);
  }

} 


@media screen and (min-width: 1000px) and (max-width: 1140px){
  #home-narratives nav{

    h1{ min-width: 0px;}
    
    button[data-category=all]{ 
      width: calc(var(--case-unit) * 2.5)!important;
    }
  }
}





@media #{$medium} {
  #home-narratives .content-container-home {
    overflow-y: scroll;
    padding: calc(var(--padding) * 1.5);
    article {
      margin-bottom: calc(var(--padding) * 1.5);
    }
  }
}

// NOTICES -------------------------------------------------

#home-notices {
  grid-column: 1/25;
  grid-row: 4;
}



// COLOR WHEEL  -------------------------------------------------
#home #wheel {
  width: 59vw;
  margin-top: 85px;
  margin-left: -25px;
}

#home #zoom-buttons {
  --size: calc(var(--case-unit) * 1.5);
  z-index: 10;
  position: absolute;
  bottom: calc(var(--padding) * 1.5);
  right: calc(var(--padding) * 1.5);
  width: var(--size);
  button {
    margin-bottom: calc(var(--padding) * 0.75);
    background: rgba(var(--bg-rgb), 1);
    border: var(--border-layout);
    font-size: calc(var(--font-size) * 1.5);
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    &:hover {
      background-color: var(--color-text);
      color: var(--background);
    }
  }
}


// RESPONSIVE -----------------------------

@media #{$tablet} {


  #home main{
    display: block;
    overflow: scroll;
    background-color: rgba(var(--bg-rgb), 0.2);
 
  
    .home-section{
      margin-top: calc(var(--baseline)*2);
      padding-top: calc(var(--baseline)*1.5);
      border: none;
      border-top: var(--border-layout-double);
      

      header h1, 
      nav h1 { 
        border: none; 
        display: block;
        margin-left: var(--padding-page);
        padding-left: 0px;

        @include title-group-bigger();
      }
    }

    .home-section > header{
      display: block;
      border: none;
    }

    #home-baseline {
      border: none;
      padding: 0px;
      margin-top: calc(var(--baseline)*2);
      padding-left: var(--padding-page);
      padding-right: var(--padding-page);

      p{
        font-size: 1.6em;
        line-height: var(--baseline);
      }
    }

    #home-narratives{

      nav{ 
        display: block;
        border: none;
        a{ display: none;}
        h1{ 
          border: none; 
          padding-left: 0;
          display: block;
        }
      }

      .content-container-home{
        padding: 0px var(--padding-page);
        background-color: transparent;
      }

      article{ 
        display: none;
      }
      article:nth-of-type(1),
      article:nth-of-type(2),
      article:nth-of-type(3), 
      article:nth-of-type(4){ display: grid;}
  
    }

    #home-timeline{
      background-color: rgba(var(--bg-rgb), 0.6);
      margin-bottom: 0px;
      margin-top: 0px;

      .content-container-home{
        height: var(--timeline-height);
        background: none;
  
      }

      #timeline{
        background: none;
      }
    }

    #home-wheel{
      margin-top: 0px;
      padding-left:  var(--padding-page);
      padding-right:  var(--padding-page);
      padding-bottom: calc(var(--baseline)*2);
      h1{ padding-left: 0px; }

      .content-container-home{
        border: var(--border-text-light);
        width: 100%;
        height: var(--timeline-height);
        overflow: hidden;

        #color-wheel{
          height: auto;
          width: 100vw;
          left: -16%;
        top: -21%;
        }

        .see-more{
          position: absolute;
          bottom: 0px;
          right: var(--padding-page);
        }

      }
    }

    #home-notices{
      display: block;
      background: none;

      .notices-group{
        border-bottom: var(--border-layout);
        height: calc(var(--baseline)*2.5);
        @include title-group-bigger();
        white-space: nowrap;
        &::after{
          content: var(--arrow-right);
          display: block;
          position: absolute;
          right: var(--padding-page);
          font-weight: 600;
          font-size: calc(var(--font-size)*2);
          top: calc(var(--baseline)*0.5);
          
        }
      }
    }

  }
}


@media #{$phone} {
  #home main #home-narratives{

    .content-container-home{
      display: block;
    }
    
    article:nth-of-type(4){ display: none;}
  }
}