---
import { GlossaryCompleteFragment } from "../../__generated__/graphql";
import InternalLink from "../InternalLink.astro";
import GlossaryDetails from "./GlossaryDetails.astro";

type Props = { glossary: GlossaryCompleteFragment };

const { glossary } = Astro.props;
---

<article
  class="notice-card"
  data-notice="glossary"
  data-type={glossary.type?.label}
>
  <InternalLink href={`/${glossary.type?.category === "technique" ? "techniques" : "glossary" }/${glossary.slug}`}>
    <h1>
      {glossary.label}{
        glossary.chemicalFormula && (
          <span class="formula"> ({glossary.chemicalFormula})</span>
        )
      }
    </h1>
    {
      glossary.narratives && (
        <p class="occurences">Cited in {glossary.narratives.length} narrative(s)</p>
      )
    }
  </InternalLink>
  <GlossaryDetails glossary={glossary} />
</article>
