---
import { Fragment } from "react";

import { sortBy } from "lodash";
import {
GlossaryCompleteFragment,
NarrativeCompleteFragment,
} from "../../__generated__/graphql";
import Layout from "../../layouts/Layout.astro";
import InternalImage from "../InternalImage.astro";
import InternalLink from "../InternalLink.astro";
import NarrativeCard from "../narrative/NarrativeCard.astro";
import NarrativeContent from "../narrative/documentRenderer/NarrativeContent.astro";

import GlossaryDetails from "./GlossaryDetails.astro";

interface Props {glossary : GlossaryCompleteFragment}

const {glossary} = Astro.props;

const pageTitle = glossary.type?.category === "technique" ? "Techniques" : "Glossary";
const dataType =  glossary.type?.category === "technique" ? "techniques" : "glossary";
---

<Layout title={pageTitle} id="page-glossary" className="page-notice">
  <!-- NAV ____________________________________ -->
  <nav>
    <InternalLink href=`/${pageTitle.toLowerCase()}` title=`See ${pageTitle.toLowerCase()}`>
      <h1 data-type={dataType}><span class="icon"></span>{pageTitle}</h1>
    </InternalLink>
    <p class="title">{glossary.label}</p>
  </nav>
  <!--  end nav -->

  <!-- CONTENT _____________________________________________________________________________ -->
  <div class="content-container" id="content">
    <header>
      <h1>
        {glossary.label}
        {
          glossary.chemicalFormula && (
            <span class="formula">{glossary.chemicalFormula}</span>
          )
        }
      </h1>
      <GlossaryDetails glossary={glossary} />
    </header>

    <!-- TEXT____________________________________ -->
    {
      glossary.description && (
        <div class="text">
          <NarrativeContent document={glossary.description.document} />
        </div>
      )
    }
    <!-- end text -->

    <!-- IMAGES ____________________________________ -->

    <div id="all-img">
      <!-- ici j'ai pas vraiment fait de code, à construire comme bon vous semble
              Questions à se poser: 
              - est-qu'il y a des différences entre portrait et images 
              - est-ce aue c'est des images au format icone et on les présente dans un viewer ?
              - si c'est des images spéciale de chromotope, est-ce auœn zoom dedans ??
              Tout est à discuter
          -->

      {
        glossary.medias && glossary.medias.length > 0 && (
          <div class="image-list">
            {sortBy(glossary.medias, (m) => m.title).map((m) => (
              <li>
                <InternalImage media={m} widths={[{ width: 500 }]} />
              </li>
            ))}
          </div>
        )
      }
    </div>
    <!--  end images -->

    <!-- NARRATIVES LIST____________________________________ -->

    {
      glossary.narratives && (
        <section id="narratives-list">
          <h1>cited in narratives</h1>
          {glossary.narratives.map((n) => (
            <NarrativeCard narrative={n as NarrativeCompleteFragment} />
          ))}
        </section>
      )
    }
    <!--  end narraives list -->
  </div>
  <!--  end content -->
</Layout>
