---
import { Fragment } from "react";

import InternalLink from "../InternalLink.astro";

import { GlossaryType } from "../../__generated__/graphql";
import { getGlossaries, getTechniques } from "../../data/glossary";
import Layout from "../../layouts/Layout.astro";
import FilterNoticeList from "../filterNoticeList/FilterNoticeList.astro";
import NoticesMenu from "../layout/NoticesMenu.astro";
import GlossaryCard from "./GlossaryCard.astro";

interface Props {
    category: GlossaryType["category"];
}


const { category} = Astro.props;

const glossaries = category === "technique" ? await getTechniques() : await getGlossaries();

const glossaryTypes = glossaries.reduce((types, glossary) => {
  if (glossary.type && glossary.type.label) types.add(glossary.type.label);
  return types;
}, new Set<string>());

const pageTitle = category === "technique" ? "Techniques" : "Glossary";
const dataType =  category === "technique" ? "techniques" : category;
---
<Layout title={pageTitle} id={`list-${dataType}`} className="page-list">
  <!-- NAV ____________________________________ -->
  <nav>
    <h1 data-type={dataType}><span class="icon"></span>{pageTitle}</h1>
    <InternalLink class="back" href="/">Back home</InternalLink>
  </nav>
  <!--  end nav -->

  <FilterNoticeList
    multiValueFilter={{
      field: "type",
      options: [...glossaryTypes],
      label: "Type",
    }}
  />

  <!-- CONTENT ________________________________________ -->

  <section class="content-container">
    <div class="list-container">
      <h1 data-type={dataType}><span class="icon"></span>{pageTitle}</h1>
      {
        Array.isArray(glossaries) &&
          glossaries.map((glossary) => <GlossaryCard glossary={glossary} />)
      }
    </div>
  </section>

  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->
    <NoticesMenu selected={category === 'technique' ? 'techniques' : undefined}/>

  </Layout>