---
import { GlossaryCompleteFragment } from "../../__generated__/graphql";
type Props = { glossary: GlossaryCompleteFragment };

const { glossary } = Astro.props;
---

<div class="label-list">
  {glossary.type && <p class="type">{glossary.type.label}</p>}
  {
    glossary.dateOfDiscoveryInvention && (
      <p class="date">
        <span>{glossary.dateOfDiscoveryInvention}</span>
      </p>
    )
  }
</div>
