---
import HeaderChromobase from "../components/layout/HeaderChromobase.astro";
import Menu from "../components/layout/Menu.astro";
import { timelineHeightInPixels } from "../components/timeline/constants";
import "../style/index.scss";
interface Props {
  title: string;
  id: string;
  className?: string;
}

const { title, id, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body id={id} class={className} >
    <!-- BLOB ____________________________________________________________________________________ 
    ______________________________________________________________________________________________ -->
    <div id="blob-container">
      <div class="card">
        <div class="blob"></div>
      </div>
    </div>
    <!--  end blob -->

    <!-- HEADER and  MENU ________________________________________________________________________ 
    ______________________________________________________________________________________________ -->
    <input
      type="checkbox"
      id="toggle-menu"
      name="toggle-menu"
      value="menu-visibility"
      hidden
    />

    <HeaderChromobase />

    <Menu />
  </body>
  <!--  end header and menu -->

  <!-- MAIN ____________________________________________________________________________________ 
    ______________________________________________________________________________________________ -->
  <main style={`--timeline-height: ${timelineHeightInPixels}px;`}>
    <slot />
  </main>
</html>

<script>
  import { range } from "lodash";

  function rnd(min: number, max: number) {
    return Math.floor(Math.random() * (max - min + 1) + min);
  }

  const colors = [
    "var(--blob-color-1)",
    "var(--blob-color-2)",
    "var(--blob-color-3)",
    "var(--blob-color-4)",
    "var(--blob-color-5)",
  ];
  function rndBorderRadius() {
    return (
      [...Array(4).keys()].map(() => rnd(30, 85) + "%").join(" ") +
      " / " +
      [...Array(4).keys()].map(() => rnd(30, 85) + "%").join(" ")
    );
  }

  function createBlob({
    id,
    color,
  }: {
    id: string;
    color: string;
  }) {
    const card = document.querySelector(".card");
    const blob = document.createElement("div");
    blob.id = `blob-${id}`;
    blob.classList.add("blob");
    blob.style.top = `${Math.random() * window.innerHeight}px`;
    blob.style.left = `${Math.random() * window.innerWidth}px`;
    blob.style.backgroundColor = color;
    blob.style.scale = rnd(2.5, 5) + "";
    blob.style.borderRadius = rndBorderRadius();
    if (card) card.appendChild(blob);
  }

  const genBlobs = () => {
    const nbBlobs = 20;
    const nbSlices = 1;
    const sliceSize = nbBlobs / nbSlices;
    const animationBreakTime = 12000;
    let currentBlobSlice = 0;
    const card = document.querySelector(".card");
    if (card) card.innerHTML = "";
    [...Array(nbBlobs).keys()].map((id) => {
     
      const color = colors[rnd(0, colors.length)];
      createBlob({ color, id: id + "" });
    });

    setInterval(() => {
      
      range(currentBlobSlice, currentBlobSlice + sliceSize).forEach(id => {

        const blob = document.getElementById(`blob-${id}`);
        if (blob){
          // change viz variables and let CSS do the animation through transitions
          blob.style.top = `${Math.random() * window.innerHeight}px` ;
          blob.style.left =`${Math.random() * window.innerWidth}px` ;
          blob.style.scale = rnd(2.5, 5) + "";
          blob.style.borderRadius = rndBorderRadius();
          blob.style.opacity = rnd(0.4, 0.8)+"";
          blob.style.rotate = rnd(-25, 25)+"";
        }
      })
      currentBlobSlice += sliceSize;
      if (currentBlobSlice === nbBlobs) currentBlobSlice = 0;
    }, 6000/nbSlices + animationBreakTime)
  };

  genBlobs();
</script>
