#color-wheel {
  width: 100%;
  height: 100%;

  g.frame > * {
    stroke-width: 0;
  }
}

#color-wheel {
  *[id^="colorwheel-point"] {
    &:not(.active) {
      cursor: pointer;
      &.out-of-lightness-scope {
        visibility: hidden;
      }
    }
    &.active.out-of-lightness-scope {
      visibility: visible;
      g.frame {
        stroke-dasharray: 0.5 2;
      }
    }
  }

  *[id^="colorwheel-point"].active g.frame > *,
  *[id^="colorwheel-point"]:hover g.frame > * {
    stroke-width: 1;
  }
}
