#color-wheel-page main nav {
  .group-button button span {
    @include icon(26px, var(--color-text));
    top: 2px;
  }

  #nav-layers {
    padding: 0px var(--padding);
    height: 100%;
    display: flex;
    align-items: center;
    border-right: var(--border-layout);

    #layer-plus,
    #layer-minus {
      cursor: pointer;
      display: flex;
      align-items: center;
      span.icon {
        @include icon(20px, var(--color-text));
        &:hover {
          background-color: var(--color-text);
        }
      }
    }

    #layers-value {
      --w-circle: 20px;
      display: flex;
      gap: 0.2em;
      margin: 0 0.2em;
      .layer {
        cursor: pointer;
        width: var(--w-circle);
        height: var(--w-circle);
        border: 1.5px solid var(--color-text);
        border-radius: 50%;
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;

        .selected-marker {
          width: calc(var(--w-circle) / 2);
          height: calc(var(--w-circle) / 2);
          border-radius: 50%;
          background-color: var(--data-select-border-color);
          visibility: hidden;
        }
      }
      .layer.active {
        box-shadow: 0px 0px 0px 1px #9520ff;
        border-color: #9520ff;
        .selected-marker {
          visibility: hidden;
        }
      }
    }
  }

  #value-h {
    --icon: #{local-url("/icons/circle-circ.svg")};
  }
  #value-s {
    --icon: #{local-url("/icons/circle-rayon.svg")};
  }
  #value-v {
    --icon: #{local-url("/icons/layer.svg")};
  }

  #hsv-value {
    display: flex;
    align-items: center;
    margin-left: var(--padding);
    p {
      display: flex;
      align-items: center;
      font-weight: normal;
      line-height: var(--baseline);
      padding-right: 1.5ch;

      span {
        font-weight: normal;
        padding-left: 0.5ch;
      }

      &::before {
        @include icon(20px, var(--color-text));
        top: -1px;
        margin-right: 0.25ch;
      }
    }
  }
}
