#color-wheel-page {
  --w-container-wheel: 60vw;

  .content-container {
    padding: 0;
  }

  #container-color-wheel {
    //background-color: rgba(var(--bg-rgb), 1);
    width: var(--w-container-wheel);
    height: calc(100vh - var(--all-top));
    position: fixed;
    top: var(--all-top);
    left: 0;
    overflow: hidden;
    z-index: 10;
    border-right: var(--border-layout-double);
  }

  #text-content {
    margin-left: var(--w-container-wheel);
    padding: var(--padding-page);
  }

  #container-objects {
    background-color: rgba(var(--bg-rgb), 1);
    padding: 0px var(--padding-page);
    width: calc(100vw - var(--w-container-wheel));
    height: calc(100vh - var(--all-top));
    position: fixed;
    top: var(--all-top);
    overflow: scroll;
    z-index: 10;
    padding-bottom: 20vh;
    right: calc((100vw - var(--w-container-wheel)) * -1);
    transition: right var(--time-transition);
  }

  #container-objects article {
    display: none;
  }
  #container-objects article.open {
    display: block;
  }
  #container-objects.open {
    right: 0 !important;
  }
}
