#color-wheel-page main #container-objects {
  h1 {
    line-height: var(--baseline);
    max-width: 90%;
    font-weight: normal;
    font-size: 2em;
    font-weight: 500;
    padding-top: calc(var(--baseline) * 3);
  }

  .details {
    margin-top: calc(var(--baseline) * 0.5);
    border-top: var(--border-text-light);
    border-bottom: var(--border-text-light);
    height: calc(var(--baseline) * 1.5);
  }

  .see-more {
    float: right;
  }

  .cover-img {
    margin-top: calc(var(--baseline) * 1.5);
    border: var(--border-img);
    img {
      width: 100%;
      object-fit: contain;
      max-height: 60vh;
    }
  }

  .palette-hsv {
    margin-top: calc(var(--baseline) * 2);
  }

  .close,
  .see-more {
    position: absolute;
    top: var(--padding);
    right: 0px;
    margin: 0;
    z-index: 10;
  }

  .see-more {
    margin-top: calc(var(--baseline) * 1.75);
  }

  .close {
    border: var(--border-text-light);
    display: inline-block;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--background);
    font-size: var(--font-size-small);
    &:hover {
      @include case-hover();
    }
  }
}
