---
import InternalLink from "../../components/InternalLink.astro";
import PaletteHSV from "../../components/colour/PaletteHSV.astro";
import NoticesMenu from "../../components/layout/NoticesMenu.astro";
import { getNamedColours } from "../../data/colour";
import Layout from "../../layouts/Layout.astro";
import { colourId } from "./utils";

const colours = await getNamedColours();
---

<Layout title="Named Colours" id="list-colours" className="page-list">
  <!-- NAV ____________________________________ -->
  <nav>
    <h1 data-type="colours"><span class="icon"></span>Colour names</h1>
    <InternalLink class="back" href="/">Back home</InternalLink>
  </nav>
  <!--  end nav -->

  <!-- CONTENT ________________________________________ -->
  <section class="content-container">
  <div class="list-container">
    <h1 data-type="colours"><span class="icon"></span>Colour names</h1>
    {
      (colours || []).map((c) => (
        <article id={colourId(c)}>
          <PaletteHSV colours={[c]} />
          {c.narratives && (
            <div class="narratives-list">
              <p>Cited in narrative{c.narratives.length > 1 ? "s" : ""}</p>
              <ul>
              {c.narratives.map((n) => (
                <li>
                <InternalLink href={`/narratives/${n.slug}`}>
                  {n.title}
                </InternalLink> 
                </li>
              ))}
             </ul>
            </div>
          )}
        </article>
      ))
    }
  </div>
  </section>


  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->
  <NoticesMenu selected="colours"/>

</Layout>
<script>
  // colour names are linekd from narratives as hash URL
  // we indicate this on top of auto scroll by a selected CSS class
  if (document.location.hash) {
    document.querySelector(document.location.hash)?.classList.add("selected");
  }
</script>
