---
import { Image } from "astro:assets";
import InternalLink from "../components/InternalLink.astro";
import NarrativeContent from "../components/narrative/documentRenderer/NarrativeContent.astro";
import { getStaticContent } from "../data/staticContent";
import Layout from "../layouts/Layout.astro";

const staticContent = await getStaticContent();
---

<Layout id="about" title="About" className="static">
  <nav>
    <h1>About</h1>

    <InternalLink class="back" href="/">back to home</InternalLink>
  </nav>
  <div class="content-container" id="content">
    <h1>About the ChromoBase</h1>
    {
      staticContent && (
        <section id="text-content">
          {staticContent.about && (
            <NarrativeContent document={staticContent.about.document} />
          )}
          {staticContent.credits && (
            <>
              <h2>Credits</h2>
              <NarrativeContent document={staticContent.credits.document} />
            </>
          )}
          {staticContent.partnersLogos &&
            staticContent.partnersLogos.length > 0 && (
              <>
                <h2>Partners</h2>
                <div class="logo-container">
                  {staticContent.partnersLogos.map((logo) => (
                    <a href={logo.url}>
                      {logo.image && (
                        <Image
                          src={logo.image.url}
                          alt={logo.institutionName || null}
                          height={logo.image.height}
                          width={logo.image.width}
                          class="logo"
                          format="png"
                        />
                      )}
                    </a>
                  ))}
                </div>
              </>
            )}
          {staticContent.funding && (
            <>
              <h2>Funding</h2>
              <NarrativeContent document={staticContent.funding.document} />
              {staticContent.fundingLogos &&
                staticContent.fundingLogos.length > 0 && (
                  <div class="logo-container">
                    {staticContent.fundingLogos.map((logo) => (
                      <a href={logo.url}>
                        {logo.image && (
                          <Image
                            src={logo.image.url}
                            alt={logo.institutionName || null}
                            height={logo.image.height}
                            width={logo.image.width}
                            class="logo"
                            format="png"
                          />
                        )}
                      </a>
                    ))}
                  </div>
                )}
            </>
          )}
        </section>
      )
    }
  </div>
</Layout>
