---

import ColorWheelSVG from "../components/colorWheel/ColorWheel";
import NarrativeContent from "../components/narrative/documentRenderer/NarrativeContent.astro";
import ObjectPanel from "../components/object/ObjectPanel.astro";
import { getObjects } from "../data/object";
import { getStaticContent } from "../data/staticContent";
import Layout from "../layouts/Layout.astro";
import { defaultLightness, lightnessSteps, layersLightnessInterval } from "../components/colorWheel/configuration";

const objects = await getObjects();
const staticContent = await getStaticContent();




---

<Layout id="color-wheel-page" title="Colour wheel">
  <!-- NAV / wheel-color-nav.scss ____________________________________ -->
  <nav>
    <h1>Colour wheel</h1>
    <div class="group-button">
      <button id="zoom-plus" data-icon="zoom-plus">
        <span class="icon"></span></button
      >
      <button id="zoom-minus" data-icon="zoom-minus">
        <span class="icon"></span></button
      >
    </div>
    <div class="group-button" id="nav-layers">
      <div id="layer-minus" data-icon="minus-circle">      
        <span class="icon"></span>
      </div>
      <div id="layers-value" data-layer-active="0.5">
        {
          lightnessSteps.map(lightness =>
           <div 
            class={`layer ${lightness===defaultLightness? "active" : ""}`} 
            data-layer={lightness}
            style={{backgroundColor: `hsl(0,0%,${lightness}%)`,
                '--data-select-border-color': `hsl(0,0%,${lightness > 45 ? 20 :80  }%)` 
              }}
            
            
            >
              <div class="selected-marker"/>
            </div>
          )
        }
        
      </div>
      <div id="layer-plus" data-icon="plus-circle">
        <span class="icon"></span>
      </div>
    </div>
    <div id="hsv-value">

      <p id="value-h"><span class="value">Hue</span></p>
      <p id="value-s"><span class="value">Saturation</span></p>
      <p id="value-v"><span class="value">Value</span></p>
    </div>
  </nav>
  <!-- end nav ____________________________________ -->

  <!-- CONTENT ________________________________________ -->
  <section class="content-container">
    <!-- WHEEL ________________________________________ -->
    <div id="container-color-wheel">
      <div id="color-wheel">
        <ColorWheelSVG objects={objects} />
      </div>
    </div>
    <!-- end wheel ___ -->

    <!-- TEXT PRESENTATION ________________________________________ -->
    <div id="text-content">
      {
        staticContent && (
          <div class="container">
            {staticContent.colourWheelIntroduction && (
              <NarrativeContent
                document={staticContent.colourWheelIntroduction.document}
              />
            )}
          </div>
        )
      }
    </div>
    <!-- end text description ___ -->

    <!-- CONTAINER FOR OBJECTS ARTICLE ________________________________________ -->
    <div id="container-objects">
      {objects.map((e) => <ObjectPanel object={e} />)}
      <!-- end container for objects -->
    </div>
    <!--  end content -->
  </section>
  <script>
    import svgPanZoom from "svg-pan-zoom";
    import { defaultLightness, firstLayerLightness, layersLightnessInterval, lightnessSteps } from "../components/colorWheel/configuration";

    // Handle SVG pan and zoom:
    const svgController = svgPanZoom("#color-wheel svg", {
      viewportSelector: "#color-wheel",
      panEnabled: true,
      controlIconsEnabled: false,
      zoomEnabled: true,
      dblClickZoomEnabled: false,
      mouseWheelZoomEnabled: true,
      preventMouseEventsDefault: false,
      zoomScaleSensitivity: 0.25,
      minZoom: 0.5,
      maxZoom: 3,
      fit: true,
      contain: false,
      center: true,
      refreshRate: "auto",
      eventsListenerElement: undefined,
    });

    // Handle zoom in / out buttons:
    const zoomPlus = document.getElementById("zoom-plus") as HTMLButtonElement;
    zoomPlus.addEventListener("click", () => svgController.zoomIn());
    const zoomMinus = document.getElementById(
      "zoom-minus"
    ) as HTMLButtonElement;
    zoomMinus.addEventListener("click", () => svgController.zoomOut());

    // Handle selecting objects:
    function refreshHighlights(id?: string) {
      colorWheelPoints.forEach((el: HTMLElement) => {
        const pointId = (el.dataset as { target: string }).target;
        if (pointId === id) el.classList.add("active");
        else el.classList.remove("active");
      });
    }
    function selectPoint(id: string) {
      let articleContainer = document.querySelector("#container-objects");
      let articles = Array.from(
        document.querySelectorAll("#container-objects article")
      );

      articles.forEach(function (article) {
        article.classList.remove("open");
      });

      let thisArticle = document.querySelector(`#${id}`);
      if (thisArticle) thisArticle.classList.add("open");
      if (articleContainer) articleContainer.classList.add("open");

      refreshHighlights(id);
    }
    function unselectPoint() {
      let articleContainer = document.querySelector("#container-objects");
      if (articleContainer) articleContainer.classList.remove("open");

      refreshHighlights();
    }

    const colorWheelPoints = document.querySelectorAll<HTMLElement>(".colorwheel-point");
    colorWheelPoints.forEach((el) => {
      const id = (el.dataset as { target: string }).target;

      el.addEventListener("click", () => {
        selectPoint(id);
      });
    });
    const closeButtons = document.querySelectorAll<HTMLElement>("#container-objects .close");
    closeButtons.forEach((el) => {
      el.addEventListener("click", () => unselectPoint());
    });

    // lightness control
    function setlightness(lightness:number) {
      const colorWheelSegments =  document.getElementById("color-wheel-segments");
      // change colowheel background lightness
      colorWheelSegments?.style.setProperty('--lightness', `${lightness}%`);
      // update layer button active state
      const lbs = document.querySelectorAll<HTMLElement>("#layers-value .layer")
      lbs.forEach(lb => {
        lb.classList.remove("active")
        if(lb.dataset.layer === ''+lightness)
          lb.classList.add('active');
      });
      // show/hide color points
      const colorPoints = document.querySelectorAll<HTMLElement>("#color-wheel-svg g.colorwheel-point");
      const currentLightnessIndex = lightnessSteps.indexOf(lightness);
      const minLightness = currentLightnessIndex <= 0 ? 0 : lightnessSteps[currentLightnessIndex-1] + layersLightnessInterval/2;
      const maxLightness =currentLightnessIndex === lightnessSteps.length -1 ? 100 : lightnessSteps[currentLightnessIndex+1] - layersLightnessInterval/2;
      colorPoints.forEach((cp: HTMLElement) => {
        if(cp && cp.dataset && cp.dataset.lightness){
          const cpL = +cp.dataset.lightness;
        if( minLightness <= cpL && cpL <= maxLightness ){
          cp.classList.remove("out-of-lightness-scope")
        }
        else {
          cp.classList.add("out-of-lightness-scope")
        }}
      })
    }
    function getCurrentLightness() {
      const lbs = document.querySelector("#layers-value .layer.active") as HTMLElement;
      return lbs?.dataset?.layer ? +lbs.dataset.layer : defaultLightness
    }

    // layers buttons
    const layerButtons = document.querySelectorAll<HTMLElement>("#layers-value .layer")
   
    layerButtons.forEach(lb => {
      lb.addEventListener("click", () => {
        if(lb.dataset.layer){
        const currentLightness = +lb.dataset.layer
        setlightness(currentLightness);}
      })
    })
    // plus minus buttons
    document.querySelector("#layer-plus")?.addEventListener("click", () => {
      const currentLightness = getCurrentLightness()
      const newLightness = currentLightness + layersLightnessInterval
      
      if(newLightness<=100)
        setlightness(newLightness)
    })
    document.querySelector("#layer-minus")?.addEventListener("click", () => {
      const currentLightness = getCurrentLightness()
      const newLightness = currentLightness - layersLightnessInterval
      if(newLightness>=firstLayerLightness)
        setlightness(newLightness)
    })

  </script>
</Layout>
