---
import InternalLink from "../components/InternalLink.astro";
import ColorWheelSVG from "../components/colorWheel/ColorWheel";
import NoticesMenu from "../components/layout/NoticesMenu.astro";
import NarrativeCard from "../components/narrative/NarrativeCard.astro";
import Timeline from "../components/timeline/Timeline.astro";
import { getHomeData } from "../data/home";
import Layout from "../layouts/Layout.astro";

const data = await getHomeData();
---

<Layout title="Chromobase" id="home">
  <!-- ABOUT ---------------------------------------------------------- -->
  <section class="home-section" id="home-baseline">
    <p>
      {data.baseline}
    </p>
    <button class="see-more"
      ><InternalLink href="/about">About</InternalLink></button
    >
  </section>

  <!-- NARRATIVES ---------------------------------------------------------- -->
  <section class="home-section" id="home-narratives">
    <nav>
      <h1>Narratives</h1>
      <InternalLink href="/narratives/scape">
        <button data-category="scape">
          <span class="icon"></span><p>Colour scape</p>
        </button>
      </InternalLink>
      <InternalLink href="/narratives/pedagogy">
        <button data-category="pedagogy">
          <span class="icon"></span><p>Colour pedagogy</p>
        </button>
      </InternalLink>

      <InternalLink href="/narratives/materiality">
        <button data-category="materiality">
          <span class="icon"></span><p>Colour materiality</p>
        </button>
      </InternalLink>
      <InternalLink href="/narratives">
        <button data-category="all">
          <span class="icon"></span><p>All</p>
        </button>
      </InternalLink>
    </nav>
    <div class="content-container-home">
      {(data.narratives || []).map((n) => <NarrativeCard narrative={n} />)}
      <div class="see-more">
        <InternalLink href="/narratives">See all</InternalLink>
      </div>
    </div>
  </section>

  <!-- TIMELINE ---------------------------------------------------------- -->

  <Timeline />

  <!-- COLOR WHEEL ---------------------------------------------------------- -->

  <section class="home-section" id="home-wheel">
    <header>
      <h1>Colour wheel</h1>
      <!-- <a class="open-page" href="color-wheel.html"><span></span></a> -->
    </header>
    <div class="content-container-home">
      <div id="color-wheel">
        <InternalLink href="/colour-wheel">
          <ColorWheelSVG objects={data.objects} />
        </InternalLink>
      </div>
      <button class="see-more"
        ><InternalLink href="/colour-wheel">
          Explore colour wheel
        </InternalLink></button
      >
    </div>
  </section>

  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->

  
  <NoticesMenu id="home-notices"/>
</Layout>
