---
import InternalLink from "../components/InternalLink.astro";
import NarrativeContent from "../components/narrative/documentRenderer/NarrativeContent.astro";
import { getStaticContent } from "../data/staticContent";
import Layout from "../layouts/Layout.astro";

const staticContent = await getStaticContent();
---

<Layout id="legal-notice" title="Legal notice" className="static">
  <nav>
    <h1>Legal notice</h1>

    <InternalLink class="back" href="/">back to home</InternalLink>
  </nav>
  <div class="content-container" id="content">
    <h1>Legal notice</h1>
    {
      staticContent && (
        <section id="text-content">
          {staticContent.legalNotice && (
            <NarrativeContent document={staticContent?.legalNotice.document} />
          )}
        </section>
      )
    }
  </div>
</Layout>
