---
import { PersonCompleteFragment } from "../../__generated__/graphql";
type Props = { person: PersonCompleteFragment };

const { person } = Astro.props;
---

<div class="label-list">
  {person.occupations?.map((o) => <p class="profession">{o.label}</p>)}
</div>
