---
import { PersonCompleteFragment } from "../../__generated__/graphql";
import InternalLink from "../InternalLink.astro";
import PersonDetails from "./PersonDetails.astro";

type Props = { person: PersonCompleteFragment };

const { person } = Astro.props;
---

<article
  class="notice-card"
  data-notice="people"
  data-label={person.label}
  data-narratives-count={person.narratives?.length || 0}
  data-occupation={person.occupations?.map((o) => o.label).join(", ")}
>
  
  <InternalLink href={`/people/${person.slug}`}>
    <h1>{person.label}</h1>
    {
    (person.dateOfBirth || person.dateOfDeath) && (
      <p class="date">
        <span data-date="start">{person.dateOfBirth?.slice(0, 4) || "?"}</span>{" "}
        - <span data-date="end">{person.dateOfDeath?.slice(0, 4) || "?"}</span>
      </p>
    )
    }
  {person.narratives && <p class="occurences">Cited in {person.narratives.length} narrative(s)</p>}
  </InternalLink>
  <PersonDetails person={person} />
</article>
