---
import { InferGetStaticPropsType } from 'astro';
import { GlossaryCompleteFragment } from '../../__generated__/graphql';
import GlossaryPage from '../../components/glossary/GlossaryPage.astro';
import { getItem, getStaticPathsFactory } from '../../data';

export const getStaticPaths =
  getStaticPathsFactory<GlossaryCompleteFragment>("Glossary");

// derive Props type from getStaticPaths
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params;
const glossary = await getItem<GlossaryCompleteFragment>(
  Astro.props.item,
  "Glossary",
  { slug },
);

if (!glossary)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });

---
<GlossaryPage glossary={glossary}>