#page-narrative main {
  --w-content: 750px;
  --w-object: 280px;
  --h-img: 160px;

  .content-container {
    padding-right: var(--padding);
    background-color: rgba(var(--bg-rgb), 0.7);
  }
}

@media #{$medium} {
  #page-narrative main {
    --w-content: 650px;
    --w-object: 240px;
    --h-img: 140px;
    --font-size-small: 11px;
  }
}

// HEADER ------------------------------------------------------

#page-narrative main header {
  max-width: var(--w-content);
  border-bottom: none;
  min-height: calc(var(--baseline-text) * 10);
  display: grid;
  grid-template-columns: calc(var(--case-unit) * 9) 1fr;
  grid-template-rows: auto calc(var(--baseline) * 2);
  grid-column-gap: calc(var(--padding) * 2);

  h1, .author, .details{
    grid-column: 2;
  }

  h1 {
    font-size: var(--font-title-page);
    line-height: var(--baseline-title-page);
    margin-bottom: calc(var(--baseline-text) * 0.5);
    max-width: 90%;
    font-weight: 500;
  }

  .author {
    font-size: calc(var(--font-size-text) * 1);
    line-height: calc(var(--baseline-text) * 1);
    margin-bottom: calc(var(--baseline-text) * 1);
    font-weight: 500;


    .filiation{
      font-size: var(--font-size-small);
      // padding-left: 2ch;
      &::before{
        content: "\00a0|";
      padding-right: 0.75ch;
      }
    }

    a::after {
      @include external-link(8px, var(--color-text));
      top: -0.1px;
    }
  }

  .details {
    border-top: var(--border-text-light);
    border-bottom: var(--border-text-light);
    height: calc(var(--baseline) * 2);
  
    
    .category-narrative {
      span {
        @include icon(12px, var(--color-text));
        margin-right: 0.5ch;
        top: 1px;
      }
    }
  }

  figure{
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: var(--border-img);
    display: flex;
    overflow: hidden;
    img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  }


}

// NOTICE LINK ------------------------------------------------------

#page-narrative main #text-content .notice-link {
  width: 9px;
  height: 9px;
  display: inline-block;
  border: 2px solid var(--color-text-light);
  border-radius: 3px;
  top: -6px;
  margin-left: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-text);
  }
}

// ASIDE ------------------------------------------------------

#page-narrative main .list-aside {
  width: calc(100% - var(--w-content));
  float: right;
  clear: right;
  padding-left: calc(var(--padding) * 3);
}

#page-narrative main button.button-notice {
  display: inline-block;
  font-size: var(--font-size-small);
  border: var(--border-text);
  padding: 0.75ch 1ch 0.5ch 1ch;
  border-radius: 5px;
  margin-bottom: 0.75em;
  margin-right: 0.75em;
  background-color: rgba(var(--bg-rgb), 0.3);
  font-weight: 500;

  a,
  div {
    display: flex;
    align-items: center;

    span {
      @include icon(18px, var(--color-text-light));
      margin-right: 0.75ch;
      top: -1px;
    }
  }

  .image {
    width: 100%;
    height: var(--h-img);
    margin: calc(var(--padding) * 0.75) 0px;
    overflow: hidden;
    border: var(--border-img);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:not(.no-interest):hover {
    @include case-hover();
    box-shadow: 0px 0px 0px 1px var(--color-text-light);

    .image {
      border-color: rgba(var(--bg-rgb), 0.9);
    }
  }

  &.no-interest {
    opacity: 0.9;
    border: var(--border-text-light);
    color: var(--color-text-light);
    span {
      opacity: 0.9;
    }
    &:hover {
      box-shadow: 0px 0px 0px 1px var(--color-text-grey);
    }
  }

  &.type-object {
    display: block;
    width: var(--w-object);
    flex-wrap: nowrap;
    float: left;

    a {
      display: block;
      text-align: left;

      span {
        top: 3px;
      }
    }
  }
}

@media #{$tablet} {
  #page-narrative main {

    header{
      margin-top: calc(var(--baseline-text) * 0.5);

    

      
    }


    .content-container {
      padding-right: var(--padding-page);
      #text-content p {
        max-width: 100%;
      }
    }

    #text-content{
      padding-top: calc(var(--baseline-text) * 0.5);
    }

    #text-content .notice-link {
      @include icon(14px, var(--color-text));
      top: -2px;
      margin-left: 2px;
    }

    .list-aside {
      display: none;
    }
  }
}

@media #{$small} {
  // #page-narrative main header {
  //   background-color: blue;
  //   height: auto;
  //   figure {
  //     float: none;
  //     width: 100%;
  //     margin-right: 0px;
  //   }
  //   h1 {
  //     margin-top: calc(var(--baseline-text) * 1);
  //   }
  //   .details {
  //     width: 100%;
  //     position: relative;
  //     left: 0px;
  //   }
  // }
}


@media #{$phone} {
  #page-narrative main {
    header {
      // background-color: blue;
      display: block;
      margin-top: calc(var(--baseline-text) * 0.5);

      h1{
        margin-bottom: calc(var(--baseline-text) * 0.5);
      }
      .author{
        margin-bottom: calc(var(--baseline-text) * 0.75);

        .filiation{
          display: block;
          line-height: calc(var(--baseline-text) * 0.75);
          
          &::before{
            content: "→ ";
          }
  
        }
      }

      

      figure{
        height: calc(var(--baseline-text) * 7);
        margin-bottom: calc(var(--baseline-text) * 1);
      }
    }

    #text-content{
      padding-top: calc(var(--baseline-text) * 0.5);
    }

  }


}
