.static main {
  .content-container {
    .logo-container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      .logo {
        height: 100px;
        width: auto;
      }
    }
  }
}
