
#page-narratives-list main .content-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(var(--padding)*1.5);

    article{ width: 100%; }

    .description{
        font-size: var(--font-size-text);
        line-height: var(--baseline-text);
        max-width: 58ch;
        grid-column: span 2;
        margin-bottom: var(--baseline-text);
    }
}




@media #{$phone}{
    #page-narratives-list main .content-container{
        display: block;
        .description, article{
            margin: 0 auto;
            max-width: var(--max-w);
            margin-bottom: calc(var(--padding)*1.5);
        }
    }
}



