#list-colours{

    main .content-container{
    
        article{

            @include card();
            overflow: hidden;
            padding: var(--padding);
        

            // background: none;
            // border: none;
            // cursor: default;
            // &:hover{
            //     background-color: transparent!important;
            //     color: currentColor!important;
            // }

            .color-hsv{
                border: none;
                // border-bottom: var(--border-card);
                // border-width: 1px;
                border-radius: 0px;
                height: calc(var(--case-unit)*2);
                width: 100%;
                margin-right: var(--padding);
                display: flex;
                align-items: center;
                margin: 0;
                background-color: transparent;

                .color-values{ display: none; }
    
                .color{
                    width: calc(var(--case-unit)*2);
                    height: 100%;
                    border: none;
                    border-radius: 2px;
                 
                }
                .name{
                    width: calc(100% - 60px);
                    padding-left: 1ch;
                    font-size: var(--font-size-text);
                    font-weight: 500;
                    margin-top: 0px!important;
                    text-align: left;
                    
                }
            }

            .narratives-list{
                margin-top: calc(var(--baseline)*1);
                font-size: var(--font-size-small);
                line-height: calc(var(--baseline)*1);
                p{
                    margin-bottom: calc(var(--baseline)/4)
                }
                p::after{
                    content: ':'
                }

                ul{
                    list-style-type: disc;
                    list-style-position: outside;
                    margin-left: 1.5ch;
                    li a{ @include link-underline(); }
                }

               
            }
           
        }

       
    }

    


}



@media #{$small} {
    #list-colours main .content-container article {
        margin-top: calc(var(--baseline)*1);
      margin-bottom: calc(var(--baseline)*2)
    }
  }