.page-list .list-container{


  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  

   & > h1 { 
    font-size: var(--font-title-page);
    line-height: var(--baseline-title-page);
    font-weight: 500;
    margin-bottom: var(--baseline-title-page);
    width: 100%;
    display: flex;
    align-items: center;
    span.icon{
      @include icon(30px, var(--color-text));
      margin-right: 0.75ch;
    }
  }

  article {
    margin-bottom: calc(var(--case-unit)*1);
    width: calc((100% - var(--case-unit)*2)/3);
    margin-right: var(--case-unit);
    &:nth-of-type(3n){ margin-right: 0px; }
  }


}


@media #{$tablet} {
  .page-list .list-container article {
    width: calc((100% - var(--case-unit))/2);
    &:nth-of-type(3n){ margin-right: var(--case-unit); }
    &:nth-of-type(2n){ margin-right: 0px; }
  }
}

@media #{$small} {
  .page-list .list-container article {
    width: 100%;
    margin-right: 0px!important;
  }
}

// .page-list main .content-container{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);    
//     & > h1{ grid-column: span 3; }
// }

// #list-objects .content-container{
//   grid-template-rows: auto;
// }

// #list-people .details{
//   display: block;
//   p{ display: inline; }
// }



// nav-list-notices ------
.page-list #nav-list-notices{
  width: 100vw;
  position: fixed;
  bottom: 0px;
  left: 0px;

}




// @media #{$desktop} {
//   .page-list main .content-container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-column-gap: var(--case-unit);
//     & > h1{ grid-column: span 3; }
//   }
// }

// @media #{$medium} {
//   .page-list main .content-container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-column-gap: var(--case-unit);
//     & > h1{ grid-column: span 3; }
//   }
// }

@media #{$tablet} {
  .page-list {
      main nav{
        display: flex;
      }
      // main .content-container {
      //   display: grid;
      //   grid-template-columns: repeat(2, 1fr);
      //   grid-column-gap: var(--case-unit);
      //   & > h1{ 
      //     display: none;
      //   }
      // }
      #nav-list-notices{ display: none; }
  }


}



// @media #{$small} {
//   .page-list main .content-container {
//     display: block;
//   }
// }
