---
import { getReferences } from "../../data/reference";
import Layout from "../../layouts/Layout.astro";
import ReferenceCard from "../reference/ReferenceCard.astro";

const references = await getReferences();
---

<Layout id="bibliography" title="bibliography" className="page-list static">
  <div class="content-container">
    <div class="list-container">
      <h1 data-type="references"><span class="icon"></span>Bibliography</h1>
    </div>
    <section id="text-content" style={{ paddingTop: 0 }}>
      <div class="bibliography">
        <ul>
          {references.map((r) => <ReferenceCard reference={r} />)}
        </ul>
      </div>
    </section>
  </div>
</Layout>
