---
import { ReferenceCompleteFragment } from "../../__generated__/graphql";
import InternalLink from "../InternalLink.astro";
import NarrativeContent from "../narrative/documentRenderer/NarrativeContent.astro";
interface Props {
  reference: ReferenceCompleteFragment;
}
const { reference } = Astro.props;
---

<li>
  <button class="button-notice" data-type="references">
    <InternalLink href={`/references/${reference.slug}`}>
    <span class="icon"></span> 
      {reference.label}
    </InternalLink>
  </button>

  {
    reference.citation && (
      <NarrativeContent document={reference.citation.document} />
    )
  }
</li>
