---
import { InferGetStaticPropsType } from "astro";

import { getItem, getStaticPathsFactory } from "../../data";

import {
  NarrativeCompleteFragment,
  ReferenceCompleteFragment,
} from "../../__generated__/graphql";
import InternalLink from "../../components/InternalLink.astro";
import NarrativeCard from "../../components/narrative/NarrativeCard.astro";
import NarrativeContent from "../../components/narrative/documentRenderer/NarrativeContent.astro";

import { sortBy } from "lodash";
import InternalImage from "../../components/InternalImage.astro";
import Layout from "../../layouts/Layout.astro";

// prepare static paths and props
export const getStaticPaths =
  getStaticPathsFactory<ReferenceCompleteFragment>("Reference");
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { slug } = Astro.params;

// get Item value either from static or by API call when SSR
const reference = await getItem<ReferenceCompleteFragment>(
  Astro.props.item,
  "Reference",
  { slug },
);

// handle 404
if (!reference)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
---

<Layout title="Reference" id="page-notice-reference" className="page-notice">
  <nav>
    <InternalLink href="/bibliography">
      <h1 data-type="references"><span class="icon"></span>Bibliography</h1>
    </InternalLink>
    <p class="title">{reference.label}</p>
  </nav>

  <div class="content-container" id="content">
    <header>
      <h1>{reference.label}</h1>
    </header>

    {
      reference.citation && (
        <div class="text">
          <NarrativeContent document={reference.citation.document} />
        </div>
      )
    }
    <div id="all-img">
      <!-- ici j'ai pas vraiment fait de code, à construire comme bon vous semble
            Questions à se poser: 
            - est-qu'il y a des différences entre portrait et images 
            - est-ce aue c'est des images au format icone et on les présente dans un viewer ?
            - si c'est des images spéciale de chromotope, est-ce auœn zoom dedans ??
            Tout est à discuter
        -->
      <!-- {
      object.cover && (
        <figure class="viewer-img">
          <InternalImage media={object.cover} />
        </figure>
      )
    } -->
      {
        reference.medias && reference.medias.length > 0 && (
          <div id="all-img">
            {sortBy(reference.medias, (m) => m.order).map((m) => (
              <li>
                <InternalImage media={m} widths={[{ width: 780 }]} />
              </li>
            ))}
          </div>
        )
      }
    </div>

    {
      reference.narratives && reference.narratives.length > 0 && (
        <section id="narratives-list">
          <h1>cited in narratives</h1>
          {reference.narratives.map((n) => (
            <NarrativeCard narrative={n as NarrativeCompleteFragment} />
          ))}
        </section>
      )
    }
  </div>
</Layout>
