---
import cx from "classnames";
import { random, range } from "lodash";

import { SCSS_CONSTANTS } from "../../../config";
import { NarrativeCompleteFragment } from "../../__generated__/graphql";
import { sizeElem, timelineHeightInPixels, titleHeight } from "./constants";

interface Props {
  year: string;
  narratives: NarrativeCompleteFragment[];
  fakeData?: boolean;
}
const falsenbNarrativeDistribution = [
  ...range(0, 10).map((_) => 0),
  ...range(0, 8).map((_) => 1),
  ...range(0, 6).map((_) => 2),
  ...range(0, 4).map((_) => 4),
  ...range(0, 4).map((_) => 7),
  17,
  15,
];
const { year, narratives, fakeData } = Astro.props;

const nbNarratives = fakeData
  ? falsenbNarrativeDistribution[
      random(0, falsenbNarrativeDistribution.length - 1)
    ]
  : narratives.length;

const fakeNarratives: Pick<NarrativeCompleteFragment, "slug" | "category">[] =
  fakeData
    ? range(0, nbNarratives).map((slug) => ({
        slug: slug + "",
        category: {
          slug: ["pedagogy", "materiality", "scape"][random(0, 2, false)],
        },
      }))
    : [];

// overflow detection:
// when the height of the number of narrative elements is greater than available space
// we calculate space from variables used in CSS
const overflow =
  sizeElem * nbNarratives >
  timelineHeightInPixels - // section height
    SCSS_CONSTANTS.caseUnit * 2 - // section header
    2.5 * SCSS_CONSTANTS.padding - // section padding
    titleHeight - // year labels
    SCSS_CONSTANTS.padding; // year labels
---

<div class={cx("year", overflow && "overflow")} id={`year-${year}`}>
  <h1 class="title-year">{year}</h1>
  <div class="container-list">
    <ul style={`--nb-narratives:${nbNarratives}`}>
      {
        (fakeData ? fakeNarratives : narratives).map((narrative) => (
          <li
            class="timeline-item"
            data-category={narrative.category?.slug}
            data-card-id={narrative.slug}
          />
        ))
      }
    </ul>
  </div>
</div>
