---
import { groupBy, keys, range } from "lodash";
import TimelineYear from "./TimelineYear.astro";
import { titleHeight, sizeElem } from "./constants";
import NarrativeCard from "../narrative/NarrativeCard.astro";
import { getNarratives } from "../../data/narrative";

interface Props {
  fakeData?: boolean;
}
const { fakeData } = Astro.props;

const narratives = await getNarratives();

// count years occurrences in narratives
const narrativesByYear = groupBy(narratives, (narrative) => {
  return "date" in narrative && narrative.date
    ? narrative.date.slice(0, 4)
    : undefined;
});
const narrativeYears = keys(narrativesByYear).map((y) => +y);
const years = range(
  Math.min(1851, ...narrativeYears) - 1,
  Math.max(1867, ...narrativeYears) + 2,
  1,
).map((y) => y + "");
const nbYears = years.length;
---

<section class="home-section" id="home-timeline">
  <header>
    <h1>Narrative Timeline</h1>
    <!-- <button class="open-large" aria-label="Open in large view"><a href="#"><span></span></a></button> -->
  </header>
  <div class="content-container-home">
    <div
      id="timeline"
      data-nbr-year={nbYears}
      style={`--years: ${nbYears}; --h-title: ${titleHeight}px; --size-elem: ${sizeElem}px`}
    >
      <div class="timeline-container">
        {
          years.map((year) => (
            <TimelineYear
              year={year}
              narratives={narrativesByYear[year] || []}
              fakeData={fakeData}
            />
          ))
        }
      </div>
    </div>
    <div id="narratives-timeline-container">
      <button class="close" aria-label="close">✕</button>
      {narratives.map((n) => <NarrativeCard narrative={n} />)}
    </div>
  </div>
</section>
<script src="./interactivity.ts"></script>
