---
import InternalLink from "../InternalLink.astro"
---
<div id="header">
    <div id="logo"><InternalLink href="/"><h1>Chromobase</h1></a></div>
    <label for="toggle-menu" id="button-menu"><div><span></span></div></label>
</div>