---
import InternalLink from "../InternalLink.astro";
---

<nav id="menu">
  <div class="container">
    <ul id="menu-narrative">
      <li id="menu-home">
        <InternalLink href="/"><p>Home</p></InternalLink>
      </li>
      <li class="all-narratives">
        <InternalLink href="/narratives"><p>All narratives</p></InternalLink>
      </li>
      <li data-category="scape">
        <InternalLink href="/narratives/scape">
          <span class="icon"></span><p>Colour scape</p>
        </InternalLink>
      </li>
      <li data-category="pedagogy">
        <InternalLink href="/narratives/pedagogy">
          <span class="icon"></span><p>Colour pedagogy</p>
        </InternalLink>
      </li>
      <li data-category="materiality">
        <InternalLink href="/narratives/materiality">
          <span class="icon"></span><p>Colour materiality</p>
        </InternalLink>
      </li>
    </ul>

    <ul id="menu-notices">
      <li data-type="person">
        <InternalLink href="/people">
          <span class="icon"></span><p>People</p>
        </InternalLink>
      </li>
      <li data-type="organisations">
        <InternalLink href="/organisations">
          <span class="icon"></span><p>Organisations</p>
        </InternalLink>
      </li>
      <li data-type="objects">
        <InternalLink href="/objects">
          <span class="icon"></span><p>Objects</p>
        </InternalLink>
      </li>
      <li data-type="techniques">
        <InternalLink href="/techniques">
          <span class="icon"></span><p>Techniques</p>
        </InternalLink>
      </li>
      <li data-type="colours">
        <InternalLink href="/colours">
          <span class="icon"></span><p>Colour names</p>
        </InternalLink>
      </li>
      <li data-type="events">
        <InternalLink href="/events">
          <span class="icon"></span><p>Events</p>
        </InternalLink>
      </li>
      <li data-type="glossary">
        <InternalLink href="/glossary">
          <span class="icon"></span><p>Glossary</p>
        </InternalLink>
      </li>
    </ul>
    <ul id="menu-other">
      <li>
        <InternalLink href="/colour-wheel"><p>Colour Wheel</p></InternalLink>
      </li>
      <li class="menu-static">
        <InternalLink href="/bibliography"><p>Bibliography</p></InternalLink>
      </li>
      <li class="menu-static about">
        <InternalLink href="/about"><p>About</p></InternalLink>
      </li>
      <li class="menu-static">
        <InternalLink href="/legal-notice"><p>Legal notice</p></InternalLink>
      </li>
    </ul>
  </div>
</nav>
