---
import InternalLink from "../InternalLink.astro";

interface Props {
    id?: string,
    selected ?: 'people'|'organisations'|'objects'|'techniques'|'colours'|'events'
}

const {selected, id} = Astro.props;
---
<section id={id || "nav-list-notices"}>
    <div class=`notices-group ${selected === 'people' ? 'selected' : ''}` data-type="people">
      <InternalLink href="/people">
        <span class="icon"></span><p>People</p>
      </InternalLink>
    </div>
    <div class=`notices-group ${selected === 'organisations' ? 'selected' : ''}` data-type="organisations">
      <InternalLink href="/organisations">
        <span class="icon"></span><p>Organisations</p>
      </InternalLink>
    </div>
    <div class=`notices-group ${selected === 'objects' ? 'selected' : ''}` data-type="objects">
      <InternalLink href="/objects">
        <span class="icon"></span><p>Objects</p>
      </InternalLink>
    </div>
    <div class=`notices-group ${selected === 'techniques' ? 'selected' : ''}` data-type="techniques">
      <InternalLink href="/techniques">
        <span class="icon"></span><p>Techniques</p>
      </InternalLink>
    </div>
    <div class=`notices-group ${selected === 'colours' ? 'selected' : ''}` data-type="colours">
      <InternalLink href="/colours">
        <span class="icon"></span><p>Colour names</p>
      </InternalLink>
    </div>
    <div class=`notices-group ${selected === 'events' ? 'selected' : ''}` data-type="events">
      <InternalLink href="/events">
        <span class="icon"></span><p>Events</p>
      </InternalLink>
    </div>
  </section>