.page-notice main .content-container {

  header {
    margin-top: var(--baseline-text);
    margin-bottom: calc(var(--baseline)*2);
    max-width: var(--max-w-text);
  }

  .text {
    max-width: var(--max-w-text);
    margin-bottom: calc(var(--baseline)*2);
  }

  .palette-hsv {
    .see-more{
      a{font-size: var(--font-size-xs-small);}
    }
  }

  dl#infos {
    width: 100%;
    max-width: var(--max-w-text);
    columns: 2;
    column-gap: calc(var(--padding) * 2);
    margin-bottom: calc(var(--baseline)*2);
    div{ break-inside: avoid;}
  }

  #narratives-list {
    max-width: 1450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--case-unit);
    margin-top: calc(var(--baseline) * 3);
    padding-top: calc(var(--baseline)*2);

    & > h1 {
      grid-column: span 3;
    }

    &::before{
      content: '';
      width: 100vw;
      position: absolute;
      top: 0px;
      border-top: var(--border-layout);
      left: calc(var(--padding-page)*-1)
    }
  }

  #all-img {
    margin-top: 0px;
    width: 100%;
    max-width: var(--max-w-text);

  }




 
}





/// PAGE OBJECT -----------------------------------

#page-notice-object main .content-container{
    display: grid;
    grid-template-columns: var(--max-w-text) 1fr;
    grid-template-rows: repeat(5, auto);
  
  header{
    grid-column: 1/end;
    grid-row: 1;
    // margin-bottom: 0px;

    figure.page-cover{ display: none; }

  }

  .text{
    grid-column: 1;
    grid-row: 2;
  }

  .palette-hsv {
    grid-column: 2;
    grid-row: 2;
    margin-left: calc(var(--padding-page)*2);
  }

  dl#infos{
    grid-column: 1;
    grid-row: 3;
  }

  #narratives-list {
    grid-column: 2;
    grid-row: 3/end;
    margin-left: calc(var(--padding-page)*2);
    
  }


  #all-img {
    grid-column: 1;
    grid-row: 4;
  }

}



@media #{$medium}{

  #page-notice-object main .content-container{
    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: repeat(6, auto);

    header, .text, #all-img, #narratives-list {
      grid-column: span 2;
      margin-left: 0;

    }
    header{ grid-row: 1; }
    .text{ grid-row: 2; }
    .palette-hsv{ grid-row: 3; grid-column: 2; }
    #infos{ grid-row: 3;   grid-column: 1; }
    #all-img { grid-row: 5; }
    #narratives-list{ grid-row: 6; }

    #infos{
      width: 100%;
      max-width: 100%; 
    }

    .text{
      display: block;
      width: 100%;
      max-width: var(--max-w-text);
      margin-left: 0px;
    }

    .palette-hsv{
      max-width: 100%;
      margin-left: calc(var(--padding) * 2);
      & > h1{
        font-size: 0.8em;
        border-bottom: var(--border-text-light);
        margin-bottom: 0;
      }
    }

 
  }

}


@media #{$desktop} {
  #page-notice-object #narratives-list {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    &::before{ display: none; }
    article{
      max-width: 320px;
      margin-right: var(--padding);
      display: inline-block
    }
  }

}


@media #{$tablet} {
  #page-notice-object main .content-container{
    
    grid-template-columns: 100%;
    #infos{ 
      grid-row: 3;   
      grid-column: 1; 
      margin-bottom: 0px;
    }
    .palette-hsv{ 
      margin-top: calc(var(--baseline) * 1);
      grid-row: 4; 
      grid-column: 1; 
      width: 100%;
      margin-left: 0px;
    }

  }
}

@media #{$small} {
  #page-notice-object main .content-container{
    #infos{ 
      grid-column: 1; 
      
    }
    .palette-hsv{ 
      margin-top: 0px;
    }
  }
}
    

// end object ------------------------------------------



@media #{$tablet} {
 
  .page-notice main .content-container {

    header, .text, #infos{
      margin-left: 0;
    }
    #all-img{
      max-width: 100%;
    }

    #narratives-list {
      margin-top: calc(var(--baseline) * 3);
      & > h1 {
        grid-column: span 2;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--padding);
    }
  }
}







@media #{$small} {
  .page-notice main .content-container dl#infos {
    columns: 1;
  }
}

@media #{$phone} {
  .page-notice main .content-container #narratives-list {
    display: block;
  }
}

