// STYLE ---------------------------

.page-notice main {
  .content-container {
    header {
      h1 {
        font-size: var(--font-title-page);
        line-height: var(--baseline-title-page);
        font-weight: 500;

        .formula, .date { 
          font-size: var(--font-size-text); 
          padding-left: 1ch;
            &::before{ content: ' (' }
            &::after{ content: ')' }
        
        }
      }
     
    }

    .label-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      font-size: var(--font-size-small);
      // background-color: red;
      margin-top: calc(var(--baseline)*1.5);

      p {
          display: block;
          height: calc(var(--case-unit)*1.25);
          padding: 0.4ch 1.5ch;
          margin-right: 1ch;
          border: var(--border-text-light);
          border-radius: 5px;
          margin-bottom: calc(var(--baseline)*0.5);
      }
  }

    .text {
      font-size: var(--font-size-text);
      line-height: var(--baseline-text);
    }

   .palette-hsv,
    #narratives-list,
    #all-img {
      & > h1 {
        @include title-group();
        margin-bottom: calc(var(--baseline) * 1);
      }
    }

    #infos .bibliography a{
      @include link-underline();
    }

   



  }
}



/// NOTICES REFERENCES

#page-notice-reference{

figure{ width: 100%; }

}

/// COLOURS


  
.page-notice .palette-hsv {
  & > h1 {
    @include title-group();
    margin-bottom: calc(var(--baseline) * 1);
  }

  .see-more {
    display: block;
  }

  .see-more a {
    background-color: rgba(var(--bg-rgb), 0.6);
  }
}

// DL #infos (list of informations) ------------------------------------

.page-notice main dl {
  dt {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: calc(var(--baseline) * 0.25);
    border-bottom: var(--border-text-light);
  }

  dd {
    margin-bottom: calc(var(--baseline) * 1);
  }

 

  .external-link:hover {
    text-decoration: underline;
  }

  .external-link::after {
    @include external-link(12px, var(--color-text-light));
  }
}


// CONTAINER MEDIAS -----------------------------------------

.page-notice .container-medias {
  // width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-items: stretch;

  // figure, .iiif-image, iframe{
  //   margin-bottom: calc(var(--padding)*1);
  // }

  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--padding);

  figure{
    width: 100%;
    border: var(--border-img);
    img{
      width: 100%;
      height: 100%!important;
      aspect-ratio: auto!important;
      object-fit: cover;
    }
  }

  figure.landscape{
    grid-column: span 2;
    width: 100%;
  }

  .iiif-image, iframe {
    grid-column: span 2;
    height: 64vh;
    width: 100%;
  }
  


}


@media #{$tablet} {

  .page-notice .container-medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--padding);
    figure.portrait{
      grid-column: span 1;
      width: 100%;
    }

    .landscape{
      grid-column: span 2;
    }
    .iiif-image, iframe{
      grid-column: span 3;
    }
  }
}


@media #{$small} {

  .page-notice .container-medias {
    grid-template-columns: 1fr 1fr;
    figure.portrait{
      grid-column: span 1;
      width: 100%;
    }
  }

}

@media #{$phone} {

  .page-notice .container-medias {
    display: block;
  

  figure{
    margin-bottom: var(--padding);
  }

  figure.landscape{
    width: 100%;
    height: auto;
  }

  figure.portrait{
    width: auto;
    height: auto;
    img{
      width: 100%;
      height: 60vh!important;
    }
  
  }
}

}

// NARRATIVE CARDS ------------------------------------------

.page-notice #narratives-list {

  article {
    margin-bottom: var(--case-unit);
    padding-bottom: calc(var(--baseline) * 4);
  }
}


