---
interface Props {
  multiValueFilter: {
    label: string;
    field: string;
    options: string[];
  };
  digitalizedByChromotope?: boolean;
}

const { multiValueFilter, digitalizedByChromotope } = Astro.props;
---

<form id="sort-filter-form" class="sort">
  {
    multiValueFilter.options.length > 1 && (
      <div
        class="group-sort"
        data-sort-type="checkbox-list"
        data-filter-field={multiValueFilter.field}
        id={`group-filter`}
        aria-label={`Filter by ${multiValueFilter.label}`}
      >
        <>
          <button aria-sort="ascending">
            <span />
          </button>
          <p>{multiValueFilter.label}</p>
        </>
      </div>
    )
  }
  {
    digitalizedByChromotope && (
      <div
        class="group-sort"
        data-sort-type="checkbox"
        data-icon="digitalizedByChromotope"
        aria-label="See only objects digitalised for chromotope project"
      >
        <input
          type="checkbox"
          id="digitalizedByChromotope"
          data-filter-field="digitalizedbychromotope"
          data-filter-option="true"
        />
        <label for="digitalizedByChromotope">
          <>
            <span class="icon" />
            <p>Digitalised for Chromotope</p>
          </>
        </label>
      </div>
    )
  }

  <div id="sort-occurences" class="group-sort" data-sort-type="sort-button">
    <button
      class="sort-button"
      data-sort-type="sort"
      id="occurences"
      aria-label="Sort objects by occurences in narratives"
    >
      <span class="selected" data-icon="sort-neutral" data-aria-sort="label"
      ></span>
      <span class="" data-icon="sort-asct" data-aria-sort="ascending"></span>
      <span class="" data-icon="sort-dest" data-aria-sort="descending"></span>
    </button>
    <p>Cited in narratives</p>
  </div>
</form>
<div class="filter-list" id={`filter-list-${multiValueFilter.field}`}>
  <div class="container">
    {
      multiValueFilter.options.map((o) => (
        <>
          <input
            type="checkbox"
            id={`${multiValueFilter.field}-${o}`}
            data-filter-field={multiValueFilter.field}
            data-filter-option={o}
          />
          <label for={`${multiValueFilter.field}-${o}`}>{o}</label>
        </>
      ))
    }
  </div>
</div>

<script>
  import { reverse, some, sortBy } from "lodash";

  const filter = document.querySelector(`#group-filter`) as HTMLElement;
  const filterField = filter.dataset.filterField;

  // INPUT CHECKBOX MENU OPENING ACTION
  filter?.addEventListener("click", (e) => {
    e.preventDefault();

    const body = document.querySelector("body");
    let listDiv = document.querySelector<HTMLElement>(
      `#filter-list-${filterField}`,
    );
    if (listDiv) {
      const containerHeight =
        listDiv.querySelector<HTMLElement>(".container")?.offsetHeight;
      let allLists = document.querySelectorAll<HTMLElement>(".filter-list");
      let groupsSort = document.querySelectorAll(".group-sort");

      if (!listDiv.classList.contains("open")) {
        allLists.forEach(function (list) {
          list.style.maxHeight = "0px";
          list.classList.remove("open");
        });
        groupsSort.forEach(function (group) {
          group.classList.remove("open");
        });
        if (body) body.style.setProperty("--filter-list-h", "0px");
        listDiv.classList.add("open");
        filter.classList.add("open");
        listDiv.style.maxHeight = containerHeight + "px";
        if (body)
          body.style.setProperty("--filter-list-h", containerHeight + "px");
      } else {
        listDiv.classList.remove("open");
        filter.classList.remove("open");
        listDiv.style.maxHeight = "0px";
        if (body) body.style.setProperty("--filter-list-h", "0px");
      }
    }
  });
  // INPUT CHECKBOX FILTER CALLBACK
  const filterNotices = () => {
    // filters
    const activeInputs = document.querySelectorAll<HTMLElement>(
      `#sort-filter-form input[type='checkbox']:checked, .filter-list input[type='checkbox']:checked`,
    );
    const list = document.querySelector(".content-container .list-container");
    if (list) {
      if (activeInputs.length > 0) {
        const hiddenArticles: HTMLElement[] = [];
        const activeFilters: { field: string; option: string }[] = [];
        activeInputs.forEach((i) => {
          if (i.dataset.filterField && i.dataset.filterOption)
            activeFilters.push({
              field: i.dataset.filterField,
              option: i.dataset.filterOption,
            });
        });

        list.querySelectorAll(`article`).forEach((article) => {
          if (
            some(
              activeFilters.map((af) =>
                article.dataset[af.field]?.includes(af.option),
              ),
            )
          )
            article.style.display = "block";
          else {
            hiddenArticles.push(article);
            article.style.display = "none";
          }
        });
        hiddenArticles.forEach((e) => list.appendChild(e));
      } else {
        list.querySelectorAll(`article`).forEach((article) => {
          article.style.display = "block";
        });
      }
    }
  };

  document
    .querySelectorAll(
      `#sort-filter-form input[type='checkbox'], .filter-list input[type='checkbox']`,
    )
    ?.forEach((input) => {
      input.addEventListener("change", () => {
        filterNotices();
        sortNotices(false);
      });
    });

  // SORT BY OCCURENCE CALLBACK
  const sortNotices = (toggleSort: boolean) => {
    const selected = document.querySelector<HTMLElement>(
      "#sort-occurences span.selected",
    );
    let sortKey = selected ? selected.dataset.ariaSort : "ascending";
    if (toggleSort) {
      let sortKey = "descending";
      if (selected && selected.dataset.ariaSort === "descending")
        sortKey = "label";
      if (selected && selected.dataset.ariaSort === "label")
        sortKey = "ascending";

      document
        .querySelectorAll("#sort-occurences span")
        .forEach((s) => s.classList.remove("selected"));
      document
        .querySelectorAll(`#sort-occurences span[data-aria-sort='${sortKey}']`)
        .forEach((s) => s.classList.add("selected"));
    }

    const list = document.querySelector(".content-container .list-container");
    if (list) {
      const articles = list.querySelectorAll(`article`);
      let sorted = sortBy(articles, (a) =>
        sortKey !== "label" ? a.dataset.narrativesCount : a.dataset.label,
      );
      if (sortKey === "descending") sorted = reverse(sorted);
      const hiddenArticles: HTMLElement[] = [];
      sorted.forEach((a) => {
        if (a.style.display !== "none") list.appendChild(a);
        else hiddenArticles.push(a);
      });
      hiddenArticles.forEach((a) => list.appendChild(a));
    }
  };
  document.querySelector("#sort-occurences")?.addEventListener("click", (e) => {
    e.preventDefault();
    sortNotices(true);
  });
</script>
