:root {
  // ORIGINALS COLOR
  // --blob-color-1: #BF547B;
  // --blob-color-2: #AC79F2;
  // --blob-color-3: #9196F2;
  // --blob-color-4: #B6C5F2;
  // --blob-color-5: #F2D0BD;

  --blob-color-1: #79408a;
  --blob-color-2: #9b6ba3;
  --blob-color-3: #748f5a;
  --blob-color-4: #cfa541;
  --blob-color-5: #fbe272;
}

#blob-container {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#blob-container .card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  filter: blur(30px);
}

#blob-container .card > .blob {
  height: 25%;
  width: 12.5%;
  border-radius: 100%;
  position: absolute;
  transition: all 6s ease-in-out;
}
