
.see-more {
    background: none;
    color: var(--color-text);
    margin: var(--baseline) 0;
    

    a{
        text-align: center;
        border: var(--border-text-light);
        display: inline-block;
        margin: 0 auto;
        max-height: calc(var(--baseline)*2);
        padding: 5px 10px;
        border-radius: 8px;
        background-color: var(--background);
        font-size: var(--font-size-small);
        &::after{ content: var(--arrow-right);}
        &:hover{ @include case-hover(); }
        
    }

}