// figure.page-cover {
//   width: calc(var(--case-unit) * 9);
//   height: 100%;
//   overflow: hidden;
//   float: left;
//   margin-right: calc(var(--padding) * 2);
//   border-radius: 5px;
//   border: var(--border-img);
//   display: flex;

//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }
