#home-timeline article,
.page-notice #narratives-list article {

    padding: var(--padding);
    padding-top: calc(var(--padding)*0.5);
    font-size: var(--font-size-small);
    overflow-x: scroll;
    // background-color: rgba(var(--bg-rgb), 0.1);

   
    figure{ display: none;}


    .details{
        border-bottom: var(--border-text-light);
        height: calc(var(--baseline)*1.5);


        .date-narrative{
            padding-left: 0.75ch;
    
        }
        .category-narrative{
            span{
                @include icon(12px, var(--color-text));
                margin-right: 0.5ch;
                top: 1px;
            }
        }
    }
 




    .hgroup{
        margin-top: calc(var(--baseline)*1);
 
        h1{
            font-size: calc(var(--font-size)*1.3);
            line-height: calc(var(--baseline)*1.1);
            margin-bottom: calc(var(--baseline)*0.25);
            font-weight: normal;
        }
    }

    .read{
        position: absolute;
        right: var(--padding);
        bottom: var(--padding);
        text-align: center;
        border: var(--border-text-light);      
        display: inline-flex;
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 8px;
        font-size: var(--font-size-small);
        &::after { content: var(--arrow-right); }
        &:hover { @include case-hover(); }

    }


}




.page-notice #narratives-list article{
    @include card();
    background-color: rgba(var(--bg-rgb), 0.5);
}