#narratives-list-section article,
#home-narratives article {
    @include card();
    container-type: inline-size;
    container-name: narrativeCard;

    
 
    max-width: var(--max-w);
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    // grid-template-rows:  1fr calc(var(--baseline)*1.75);
    grid-template-rows: 1fr 1fr calc(var(--case-unit)*1.75) ;
    // min-height: calc(var(--case-unit)*12);
    // max-height: calc(var(--case-unit)*16);
    height: 100%;

    // height: calc(var(--case-unit)*12);
   

    // figure { grid-area: 1 / 1 / 3 / 6; }
    // .hgroup { grid-area: 1 / 6 / 2 / 12; }
    // .details { grid-area: 2 / 6 / 3 / 12; } 
      
    figure { grid-area: 1 / 1 / 4 / 5; }
    .hgroup { grid-area: 1 / 5 / 3 / 12; }
    .details { grid-area: 3 / 5 / 4 / 12; }

    figure, .details, .hgroup {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    img{
        width: 110%;
        height: 110%;
        object-fit: cover;
        object-position: center;
    }
 
    > figure {
        // display: none;
        // width: calc(100%/11*4);
        width: 100%;
        position: absolute;
        border-right: var(--border-card);
        background-color: #dfdfdf;
       max-height: calc(var(--case-unit)*16);
    }
    .details {
        border-top: var(--border-card);
        padding-left: var(--padding);
        font-size: var(--font-size-small);
        height: 100%;
        .category-narrative{
            span{
                @include icon(12px, var(--color-text));
                margin-right: 0.5ch;
                top: 1px;
            }
        }

    
     
        

        .date-narrative{
            padding-left: 0.75ch;      
        }

       
    }

    .hgroup {
        min-height: calc(var(--case-unit)*10);
        h1 {
            line-height: var(--baseline);
            font-weight: normal;
            font-size: 1.6em;
        }
        .author{
            margin-top: 1em
        }

        a {
            display: block;
            padding: var(--padding);
            width: 100%;
            height: 100%;
           
            &:hover{
                h1 { text-decoration: underline; }
            }
        }

    

    }


    .read {
        height: calc(var(--baseline)*2 + 4px);
        width: auto;
        border-left: var(--border-card);
        padding: 0px var(--padding);
        display: flex;
        align-items: center;
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: var(--font-size-small);
        &:hover{
            background-color: var(--color-text);
            color: var(--background);
        }
        span:after{
            content: var(--arrow-right);
        }
    }

    .close{
        display: none;
    }

}


@media #{$phone}{

    #home-narratives article,
    #narratives-list-section article{

        height: auto;
 

        .details, .hgroup, > figure{
            width: auto;
            height: 100%;
            overflow: visible;
            grid-column: 1/12;
        }


        > figure{ grid-row: 1; }
        .hgroup{ grid-row: 2; }
        .details{ grid-row: 3; }

        .hgroup{
            min-height: 0px;
        }


        .read {
            // height: calc(var(--case-unit)*2);
               height: calc(var(--case-unit)*1.75)!important;
        padding-left: 0.75ch!important;
        padding-right: 1.25ch!important;
            p{ display: none;}
        }
      

        > figure{
            height: calc(var(--case-unit)*8);
            position: relative;
            top: 0;
            overflow: hidden;
            border-bottom: var(--border-card);
            border-right: none;

            img{
                object-position: center center;
            }
        }
    }

}


@container narrativeCard (max-width: 430px) {

    .read{   
        // height: calc(var(--case-unit)*1.75 - 4px)!important;
        padding-left: 0.75ch!important;
        padding-right: 1.25ch!important;
        p{ display: none;}
    }
 
}



@container narrativeCard (max-width: 380px) {
    figure{ grid-row: 1!important; }
    .hgroup{ grid-row: 2!important; }
    .details{ grid-row: 3!important; }

    .hgroup{
        min-height: 0px!important;

        a{ padding-top: 0px!important; }
        

       
    }

    .details, .hgroup, figure{
        width: auto!important;
        height: 100%!important;
        overflow: visible!important;
        grid-column: 1/12!important;
    }


    figure{
        height: calc(var(--case-unit)*8)!important;
        position: relative!important;
        top: 0!important;
        overflow: hidden!important;
        border-bottom: var(--border-card)!important;
        border-right: none!important;

        img{
            object-position: center center!important;
        }
    }

 
}

// @media #{$desktop} and (max-width: 1400px){
//     #home-narratives article .read {
//         background-color: red;
//         padding-left: 0.25ch;
//         padding-right: 1ch;
//         p{ display: none;}
//     }

// }




// @media #{$tablet} and (max-width: 1080px){
 
//     #narratives-list-section article .read{
 
//         padding-left: 0.25ch;
//         padding-right: 1ch;
//         p{ display: none;}
        
//     }
// }


// @media #{$tablet} {

    
//     #narratives-list-section article,
//     #home-narratives article{ 
//     display: block;
//     height: auto;
//     padding-bottom: calc(var(--baseline)*2);

//     figure{
//       height: 160px;
//       border-right: none;
//       border-bottom: var(--border-card);
//     }
//     .details{
//       position: absolute;
//       bottom: 0px;
//       left: 0px;
//       height: calc(var(--baseline)*1);
//     }
//   }
// }