.page-list main article {

    &>a {
        overflow: hidden;
        display: block;
        width: 100%;
        padding: var(--padding);
        padding-bottom: calc(var(--padding)*0.5);
        margin-bottom: calc(var(--baseline)*0.5);
        @include card();

        &:hover {
            @include case-hover();
            border-color: var(--color-text);
            .chromotope span{ background-color: var(--color-text)!important; }
      
            img { opacity: 0.8;}

        }
    }

    h1 {
        font-size: var(--font-size-text);
        font-weight: 500;
        line-height: calc(var(--baseline)*1);
        margin-bottom: calc(var(--baseline)*0.25);
    }

    .occurences {
        font-size: var(--font-size-xs-small);
        color: var(--color-text-grey);
        text-align: right;
        line-height: calc(var(--baseline)*1);

    }

    .date {
        font-size: var(--font-size-small);
    }


    .label-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: var(--font-size-xs-small);

        p {
            display: block;
            height: calc(var(--case-unit)*1.25);
            padding: 0.4ch 1.5ch;
            margin-right: 1ch;
            border: var(--border-text-light);
            border-radius: 5px;
            margin-bottom: calc(var(--baseline)*0.5);

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }



}



/// ----- LIST OBJECTS 

#list-objects main article {


    & > a {
        min-height: calc(var(--case-unit)*18);

        .occurences {
            position: absolute;
            bottom: calc(var(--padding)*0.75);
            right: var(--padding);
        }

    }

    h1 {
        margin-top: calc(var(--baseline)*0.25);
        margin-bottom: calc(var(--baseline)*1);
    }

    figure {
        width: calc(100% + var(--padding)*2);
        height: calc(var(--case-unit)*12);
        overflow: hidden;
        top: calc(var(--padding)*-1);
        left: calc(var(--padding)*-1);


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom: var(--border-img);
        }
    }
   

    & > a .chromotope {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        z-index: 10;
        position: absolute;
        top: var(--padding);
        right: var(--padding);
        border: var(--border-text-light);
        width: calc(var(--case-unit)*1.75);
        height: calc(var(--case-unit)*1.75);
        border-radius: 5px;
        span {
            @include icon(20px, var(--color-text));
        }
    }

    .label-list .chomotope{
        display: none;
    }

    .label-list .colours {
        display: flex;

        .color {
            display: block;
            margin-top: calc(var(--case-unit)*0.125);
            width: calc(var(--case-unit)*1);
            height: calc(var(--case-unit)*1);
            background-color: var(--color);
            border: var(--border-text-light);
            margin-right: 1ch;
            border-radius: 5px;
        }
    }
}

#list-objects main article[data-digitalizedbychromotope="false"] {
    .chromotope {
        display: none
    }
}

@media screen and (max-width: 680px){
    #list-objects main {

        article  > a {
                min-height: 0px!important;
            }

        .sort .group-sort {
            min-width: 0px!important;
        }

        label[for="digitalizedByChromotope"]{
            min-width: calc(var(--case-unit)* 2);
            border-right: var(--border-layout);
            p{ display: none;}
            &::before{ border-right: none; }
            .icon{ margin-left: 0px; }
        }

        #sort-filter-form{
            #group-filter{ order: 1; }
            #sort-occurences{ 
                order: 2;
                    border-right: none;
            }
            [data-icon="digitalizedByChromotope"]{ order: 3}
        }
    }
}