#nav-list-notices,
#home-notices {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: calc(var(--case-unit) * 2);
  border-top: var(--border-layout-double);

  --color: var(--color-text);
  background-color: var(--background);
  color: var(--color);

  .notices-group {
    border-right: var(--border-layout);
  }

  .notices-group:last-of-type {
    border-right: none;
  }
}

.notices-group {
  a {
    display: flex;
    width: 100%;
    height: 100%;
    @include case();
    @include title-group();
    white-space: nowrap;
  }

  span {
    @include icon(20px, var(--color-text));
    margin-right: 0.75ch;
    top: -2px;
  }

  &.selected,
  &:hover {
    @include case-hover();
  }
}
