.palette-hsv .color-hsv {
  font-size: var(--font-size-xs-small);
  border: var(--border-text-light);
  border-radius: 3px;
  margin: calc(var(--padding) * 1);
  margin-left: 0;
  margin-bottom: 0;
  width: 20ch;
  display: inline-block;
  background-color: rgba(var(--bg-rgb), 0.6);

  .value {
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      @include icon(12px, var(--color-text));
      margin-right: 0.25ch;
    }
    &:not(:last-child) {
      margin-right: 0.5ch;
    }
  }
  .value-h {
    --icon: #{local-url("/icons/circle-circ.svg")};
  }
  .value-s {
    --icon: #{local-url("/icons/circle-rayon.svg")};
  }
  .value-v {
    --icon: #{local-url("/icons/layer.svg")};
  }

  .color {
    width: 100%;
    height: 12ch;
    background-color: var(--color);
  }
  .color-values {
    color: var(--color-text-light);
    padding: calc(var(--padding) * 0.1) 1ch;
    display: flex;
    justify-content: space-between;
  }
  .name {
    width: 100%;
    text-align: center;
  }
}
