// TEXT ------------------------------------------------------

//TODO : refacto
.static main {
  --w-content: 750px;

  .content-container {
    padding-right: var(--padding);
    background-color: rgba(var(--bg-rgb), 0.7);
    p a {
      text-decoration: underline;
    }
  }
}

@media #{$medium} {
  .static main {
    --w-content: 650px;
  }
}

#text-content {
  font-size: var(--font-size-text);
  line-height: var(--baseline-text);
  padding-top: calc(var(--baseline-text) * 2);

  p,
  ul,
  ol {
    margin-bottom: calc(var(--baseline-text) * 1);
    max-width: var(--w-content);

    strong {
      font-weight: 600;
    }
  }

  h2 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: calc(var(--baseline-text) * 1.5);
    margin-bottom: calc(var(--baseline-text) * 0.25);
  }

  h3 {
    font-size: var(--font-size);
    text-decoration: underline;
    letter-spacing: 0.5px;
    margin-top: calc(var(--baseline-text) * 1.5);
    margin-bottom: calc(var(--baseline-text) * 0.25);
  }

  .bibliography {
    h2 {
      margin-bottom: calc(var(--baseline-text) * 1);
    }
    max-width: var(--w-content);
  }
}

#page-narrative .bibliography {
  font-size: var(--font-size);
  line-height: var(--baseline);
  a {
    display: none;
  }
}
