#timeline {
  --hover-color: var(--color-text);
  --fade-color: var(--color-text-grey);
  --selected-color: var(--chromo);
  --width-card: 360px;

  --border-year: 1px solid #afafaf;
  --years: 51;

  width: 100%;
  height: 100%;

  // overflow-y: scroll;
  background-color: rgba(var(--bg-rgb), 0.6);

  .timeline-container {
    width: 100%;
    height: 100%;
    padding: var(--padding);
    padding-bottom: calc(var(--padding) * 1.5);
    display: flex;
  }

  .year {
    width: calc(100% / var(--years));
    border-left: var(--border-year);
    height: calc(100% - var(--h-title) - var(--padding));
    top: calc(var(--h-title) + var(--padding));

    &:last-child {
      border-right: var(--border-year);
    }

    .container-list {
      width: 100%;
      height: 100%;

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &.overflow {
      ul {
        height: fit-content;
      }
      .container-list {
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar {
          width: 0 !important;
        }
      }

      &::after {
        content: "▾";
        font-size: 20px;
        text-align: center;
        display: block;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: -15px;
        z-index: 30;
      }
    }
  }

  .year .title-year {
    font-size: var(--font-size-small);
    font-weight: normal;
    letter-spacing: 0.5px;
    position: absolute;
    top: calc((var(--h-title) + var(--padding)) * -1);
    left: 0px;
    border-left: var(--border-year);
    left: -1px;
    padding-left: 5px;
    display: none;
  }

  .year:nth-child(5n + 1) .title-year {
    display: block;
  }

  .timeline-item {
    height: 10px;
    margin-bottom: 3px;
    flex-shrink: 0;
    cursor: pointer;
    @include icon(var(--size-elem), var(--color-text));
  }
  .timeline-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1360px) {
  #timeline {
    overflow-x: scroll;
    overflow-y: hidden;
    .timeline-container {
      min-width: calc((var(--years) + 30) * var(--size-elem));
    }
  }
}

@media screen and (min-width: 1520px) {
  #timeline {
    .year:nth-child(5n + 1) .title-year {
      display: none;
    }

    .year:nth-child(2n + 1) .title-year {
      display: block;
    }
  }
}

#home #narratives-timeline-container {
  --width-card: 360px;
  --closed: calc(var(--width-card) * -1 - 100px);
  position: absolute;
  top: 0;
  right: var(--closed);
  z-index: 100;
  transition: all 0.3s;
  box-shadow: -10px 0px 11px 0px rgba(0, 0, 0, 0.1);

  background-color: var(--background);
  border-left: var(--border-layout);

  width: var(--width-card);
  height: 100%;

  article {
    width: 100%;
    height: 100%;
  }

  .close {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
    cursor: pointer;
    z-index: 10;
  }
}
