.bibliography, #bibliography {
    font-size: var(--font-size);
    line-height: var(--baseline);

    li {
      margin-bottom: 0.5em;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      button {
        flex-shrink: 0;
      }
    }


    p a{
        @include link-underline();
    }
    p a:after {
        @include external-link(12px, var(--color-text));
    }
}


#bibliography{
    font-size: var(--font-size);
    line-height: var(--baseline);

    p a{
        display: none;
    }
}

#bibliography button{
    display: flex;
    align-items: center;

    font-size: var(--font-size);
    line-height: var(--baseline);

    border: var(--border-text);
    padding: 0.75ch 1ch 1ch 1ch;
    border-radius: 5px;
    margin-bottom: 0.75em;
    margin-right: 0.75em;
    background-color: rgba(var(--bg-rgb), 0.3);
    font-weight: 500;

    span {
        @include icon(18px, var(--color-text-light));
        margin-right: 0.75ch;
        top: 1px;
      }

      &:hover{
        @include case-hover();
        box-shadow: 0px 0px 0px 1px var(--color-text-light);
      }



}



/// NOTICES REFERENCES

#page-notice-reference{

    .text p a{
       
 
        span{
          @include link-underline();
        }
        display: block;
        &::after{
            @include external-link(12px, var(--color-text));
        }
  
        &::before{
          content: "Source";
          display: block;
  
          font-size: 0.9em;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          margin-top: calc(var(--baseline-text) * 1.5);
          margin-bottom: calc(var(--baseline-text) * 0.25);
      }
    }
  
  }

  

  #page-notice-reference #all-img li{
    list-style: none; 
    display: block;
    width: 100%;
    border: var(--border-img);

    iframe, img{
        width: 100%; 
        border: none; 
    }

    iframe{ min-height: 600px;}
  }


  @media #{$phone} {


  #page-notice-reference #all-img li{
    iframe{ min-height: 60vh;}
    }

  }
