---
import { Media } from "../__generated__/graphql";
interface Props {
  iiifImage: NonNullable<Media["image"]>;
}

const { iiifImage } = Astro.props;

const MEDIA_BASE_URL =
  import.meta.env.PUBLIC_BUILD_TARGET === "preview"
    ? `${import.meta.env.EDITOR_PUBLIC_URL}${import.meta.env.EDITOR_BASEPATH}`
    : `${import.meta.env.SITE}/${import.meta.env.BASE_URL}`;

const manifestURL = `${MEDIA_BASE_URL}/images/${iiifImage.id}/+tiles/info.json`;
---

<div class="iiif-image" data-url={manifestURL}></div>
<script>
  import L from "leaflet";
  import "leaflet/dist/leaflet.css";
  import { IIIFLayer as LeafletIIIFLayer } from "ow-leaflet-iiif";
  import "ow-leaflet-iiif/lib/leaflet-iiif.css";
  document.querySelectorAll<HTMLElement>(`.iiif-image`).forEach((element) => {
    const manifestURL = element.dataset.url;
    if (manifestURL) {
      const l = new LeafletIIIFLayer(manifestURL, {});

      const map = L.map(element, {
        center: [0, 0],
        crs: L.CRS.Simple,
        zoom: 0,
      });
      l.addTo(map);
    }
  });
</script>
