---
import { Image } from "astro:assets";
import { Media } from "../__generated__/graphql";
import IIIFimage from "./IIIFimage.astro";

type Props = {
  media?: Media;
  cover?: boolean;
  widths?: { max?: number; width: number }[];
};

const { media, cover, widths } = Astro.props;
---

<!-- local image -->{
  media &&
    media.image &&
    (media.type === "image" || (media.type === "image_hd" && cover)) && (
      <figure
        class={[
          media.image.width <= media.image.height ? "portrait" : "landscape",
          cover ? "cover" : "",
        ].join(" ")}
      >
        {widths ? (
          <Image
            src={media.image.url}
            alt={media.title || null}
            height={media.image.height}
            width={media.image.width}
            widths={widths.map((w) => Math.round(w.width))}
            sizes={widths
              .map(
                (w) =>
                  (w.max ? `(max-width: ${w.max}px)` : "") +
                  ` ${Math.round(w.width)}px`,
              )
              .join(", ")}
            format="png"
          />
        ) : (
          <Image
            src={media.image.url}
            alt={media.title || null}
            height={media.image.height}
            width={media.image.width}
            format="png"
          />
        )}
      </figure>
    )
}
<!-- distant image -->
{
  media && media.url && media.type === "remote" && (
    <img src={media.url} alt={media.title || null} />
  )
}
<!-- High definition as IIIF -->
{
  media && media.image && media.type === "image_hd" && !cover && (
    <IIIFimage iiifImage={media.image} />
  )
}
<!-- embed -->
{media && media.type === "embed" && <Fragment set:html={media.embed} />}
