---
import { isString } from "lodash";
type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { href, ...props } = Astro.props;
//add BASE_URL only if BASE_URL is set and href is internal and absolute
let newHref = href;
if (import.meta.env.BASE_URL !== "/" && href && (isString(href) ? href : href?.toString()).startsWith("/"))
  newHref = `${import.meta.env.BASE_URL}${href}`;
---

<a {...props} href={newHref}><slot /></a>
