---
import { ObjectCompleteFragment } from "../../__generated__/graphql";
import InternalImage from "../InternalImage.astro";
import InternalLink from "../InternalLink.astro";
import PaletteHSV from "../colour/PaletteHSV.astro";

interface Props {
  object: ObjectCompleteFragment;
}
const { object } = Astro.props;
---

<article
  id={`object-${object.slug}`}
  data-chromotope={object.digitalizedByChromotope}
>
  <button class="close" aria-label="close">✕</button>
  <button class="see-more"
    ><InternalLink href={`/objects/${object.slug}`}>
      see object
    </InternalLink></button
  >

  <div class="container">
    <h1>{object.label} <span class="icon"></span></h1>
    <div class="details">
      {object.type && <p class="type">{object.type?.label}</p>}
      {object.date && <p class="publication-date">{object.date}</p>}
    </div>

    {
      object.cover && (
        <figure class="cover-img">
          <InternalImage
            media={object.cover}
            cover
            widths={[
              { max: 800, width: 320 },
              { max: 1250, width: 500 },
              { width: 1000 },
            ]}
          />
        </figure>
      )
    }
  </div>

  {object.colours && <PaletteHSV colours={object.colours} />}
</article>
