---
import { hsvaToHslString } from "@uiw/color-convert";

import { ObjectCompleteFragment } from "../../__generated__/graphql";
import InternalImage from "../InternalImage.astro";
import InternalLink from "../InternalLink.astro";

interface Props {
  object: ObjectCompleteFragment;
}
const { object } = Astro.props;
---

<article
  class="notice-card"
  data-notice="object"
  data-type={object.type?.label}
  data-digitalizedByChromotope={object.digitalizedByChromotope
    ? "true"
    : "false"}
  data-narratives={object.narratives?.length || 0}
>
  <InternalLink href={`/objects/${object.slug}`}>
    <div class="chromotope" data-icon="chromotope">
      <span class="icon"></span>
    </div>
    {
      object.cover && (
        <InternalImage
          media={object.cover}
          cover
          widths={[
            { max: 720, width: 720 },
            { max: 1180, width: 550 },
            { width: 1000 },
          ]}
        />
      )
    }
    <h1>{object.label}</h1>
    {
      object.narratives && (
        <p class="occurences">
          Cited in {object.narratives?.length || 0} narrative(s)
        </p>
      )
    }
  </InternalLink>
  <div class="label-list">
    {object.type && <p class="type">{object.type?.label}</p>}
    {object.date && <p>{object.date}</p>}
    {
      object.colours && object.colours.length > 0 && (
        <div class="colours">
          {object.colours.map((color) => (
            <span
              class="color"
              style={`--color: ${
                color &&
                color.color &&
                hsvaToHslString({ ...color.color, a: 1 })
              }`}
            />
          ))}
        </div>
      )
    }
  </div>
</article>
