---
import { EventCompleteFragment } from "../../__generated__/graphql";
interface Props {
  event: EventCompleteFragment;
}
const { event } = Astro.props;

const startYear = event.startDate?.slice(0, 4);
const endYear = event.endDate?.slice(0, 4);
---

<div class="label-list">
  {event.type && <p class="type">{event.type?.label}</p>}
  {
    (startYear || endYear) && (
      <p class="date">
        {startYear && startYear != endYear && (
          <span data-date="start">{startYear}</span>
        )}
        {startYear && endYear && startYear !== endYear && " - "}
        {endYear && <span data-date="end">{endYear}</span>}
      </p>
    )
  }
</div>
