---
import { InferGetStaticPropsType } from "astro";

import { getItem, getStaticPathsFactory } from "../../data";

import { PersonCompleteFragment } from "../../__generated__/graphql";
import InternalLink from "../../components/InternalLink.astro";
import NarrativeCard from "../../components/narrative/NarrativeCard.astro";
import NarrativeContent from "../../components/narrative/documentRenderer/NarrativeContent.astro";
import PersonDetails from "../../components/people/PersonDetails.astro";
import Layout from "../../layouts/Layout.astro";

// prepare static paths and props
export const getStaticPaths =
  getStaticPathsFactory<PersonCompleteFragment>("Person");
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { slug } = Astro.params;

// get Item value either from static or by API call when SSR
const person = await getItem<PersonCompleteFragment>(
  Astro.props.item,
  "Person",
  { slug },
);

// handle 404
if (!person)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
---

<Layout title="Person" id="page-notice-person" className="page-notice">
  <nav>
    <InternalLink href="/people">
      <h1 data-type="people"><span class="icon"></span>People</h1>
    </InternalLink>
    <p class="title">{person.label}</p>
  </nav>

  <div class="content-container" id="content">
    <header>
      <h1>
        {person.label}{
          (person.dateOfBirth || person.dateOfDeath) && (
            <span class="date">
              <span data-date="start">
                {person.dateOfBirth?.slice(0, 4) || "?"}
              </span>{" "}
              -{" "}
              <span data-date="end">
                {person.dateOfDeath?.slice(0, 4) || "?"}
              </span>
            </span>
          )
        }
      </h1>

      <PersonDetails person={person} />
    </header>

    {
      person.biography && (
        <div class="text">
          <NarrativeContent document={person.biography.document} />
        </div>
      )
    }

    {
      person.narratives && person.narratives.length > 0 && (
        <section id="narratives-list">
          <h1>cited in narratives</h1>
          {person.narratives.map((n) => (
            <NarrativeCard narrative={n} />
          ))}
        </section>
      )
    }
  </div>
</Layout>
