---
import { sortBy } from "lodash";
import InternalLink from "../../components/InternalLink.astro";
import FilterNoticeList from "../../components/filterNoticeList/FilterNoticeList.astro";
import NoticesMenu from "../../components/layout/NoticesMenu.astro";
import PersonCard from "../../components/people/PersonCard.astro";
import { getPeople } from "../../data/person";
import Layout from "../../layouts/Layout.astro";

const people = await getPeople();

const occupations = people.reduce((occ, p) => {
  p.occupations?.forEach((o) => {
    if (o.label) occ.add(o.label);
  });
  return occ;
}, new Set<string>());
---

<Layout title="People" id="list-people" className="page-list">
  <!-- NAV ____________________________________ -->
  <nav>
    <h1 data-type="people"><span class="icon"></span>People</h1>
    <InternalLink class="back" href="/">Back home</InternalLink>
  </nav>
  <!--  end nav -->

  <!-- FORM SORT ____________________________________ -->
  <FilterNoticeList
    multiValueFilter={{
      label: "Profession",
      options: [...occupations],
      field: "occupation",
    }}
  />
  <!--  end form sort -->

  <!-- CONTENT ________________________________________ -->
  <section class="content-container">
    <div class="list-container">
      <h1 data-type="people"><span class="icon"></span>People</h1>
      {sortBy(people || [], (p) => p.label).map((p) => <PersonCard person={p} />)}
    </div>
  </section>

  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->
  <NoticesMenu selected="people"/>

</Layout>
