#header {
    height: var(--header-h);
    width: 100vw;
    border-bottom: var(--border-layout-double);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
   
}



#logo h1 {
    font-size: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: 500;
}



#button-menu {
    cursor: pointer;
    border-left: var(--border-layout);

    height: 100%;
    width: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: center;

    --h-stroke: 2px;
    --w-menu: 23px;
    --color-menu: var(--color-text);

    div{
        background: var(--background);
    }

    span {
        position: relative;
        display: block;
        width: var(--w-menu);
        height: var(--h-stroke);
        background: var(--color-menu);
        transition: all .2s ease-in-out;

        &::before, &::after{
            position: absolute;
            background: var(--color-menu);
            content: '';
            width: var(--w-menu);
            height: var(--h-stroke);
            transition: all .2s ease-in-out;
            left: 0px;
        }

        &::before {  top: -8px; }
        &::after {  top: 8px; }
    }
}


#toggle-menu:checked ~ #header #button-menu span {
    background: transparent;
    &::before { transform: rotate(45deg) translate(5px, 6px) }
    &::after { transform: rotate(-45deg) translate(5px, -6px) }

}

