:root {
  --header-h: 60px;
  --nav-page-h: calc(var(--case-unit) * 2);
  --sort-page-h: calc(var(--case-unit) * 1.5);
  --filter-list-h: 0px;
  --filter-list-h: 0px;
}

main {
  margin-top: var(--header-h);
}

main nav {
  height: var(--nav-page-h);
}

main .content-container {
  --all-top: calc(var(--header-h) + var(--nav-page-h));
  background-color: rgba(var(--bg-rgb), 0.7);
  position: fixed;
  top: var(--all-top);
  width: 100vw;
  height: calc(100vh - var(--all-top));
  overflow: scroll !important;
  padding: var(--padding-page);
  padding-bottom: 20vh;
  transition: top var(--time-transition);
}

.page-list main .content-container,
#page-narratives-list main .content-container {
  --all-top: calc(
    var(--header-h) + var(--nav-page-h) + var(--sort-page-h) +
      var(--filter-list-h)
  );
}

#list-colours main .content-container,
#bibliography main .content-container {
  --all-top: calc(var(--header-h) + var(--nav-page-h));
}

@media sreen and (min-device-width: 1180px), (min-width: 1024px) {
  .page-list main .content-container {
    --all-top: calc(
      var(--header-h) + var(--sort-page-h) + var(--filter-list-h)
    );
  }

  #list-colours main .content-container,
  #bibliography main .content-container {
    --all-top: calc(var(--header-h) + 0px);
  }
}

.page-list main nav {
  display: none;
}

@media #{$tablet} {
  main .content-container {
    display: block;
    & > * {
      margin: 0 auto;
      max-width: var(--max-w);
      margin-bottom: calc(var(--padding) * 1.5);
    }
  }
}
