main .sort {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(var(--bg-rgb), 0.6);

  height: calc(var(--case-unit) * 1.5);
  border-bottom: var(--border-layout);
  position: sticky;

  .group-sort {
    min-width: calc(var(--case-unit) * 10);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;

    background: none;
    font-size: var(--font-size);
    border-left: var(--border-layout);

    p {
      padding-left: var(--padding);
      padding-right: calc(var(--padding) * 2);
      flex-grow: 1;
      font-weight: 500;
    }

    /* SINGLE CHECKBOK TYPE ------------------------------ */

    &[data-sort-type="checkbox"] {
      input {
        display: none;
      }
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &::before {
          content: "";
          display: block;
          height: calc(var(--case-unit) * 1.5 - 1.5px);
          width: calc(var(--case-unit) * 1.5);
          border-right: var(--border-layout);
          position: absolute;
          left: 0px;
        }
        span.icon {
          @include icon(18px, var(--color-text));
          margin-left: 5px;
        }
      }
      input:checked + label {
        @include case-hover();
      }
    }

    /* LIST TYPE (open list of checkboxes) ------------------------------ */

    &[data-sort-type="checkbox-list"] {
      cursor: pointer;
      button {
        cursor: pointer;
        height: 100%;
        width: calc(var(--case-unit) * 1.5);
        border-right: var(--border-layout);
        font-size: 1.1em;
        line-height: 0;
        span::after {
          content: "▶";
          display: block;
          font-size: var(--font-size-small);
          transform: rotate(0deg);
          transition: transform (--time-transition);
        }
      }
      &.open button span::after {
        transform: rotate(90deg);
      }
    }

    /* SORT BUTTON (with icons) --------------------------------- */

    &[data-sort-type="sort-button"] {
      button {
        width: calc(var(--case-unit) * 1.5);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: var(--border-layout);
      }
      span {
        width: 100%;
        height: 100%;
        @include icon(20px, var(--color-text));
        display: none;
      }
      .selected {
        display: block;
      }
    }

    /* ALL ---------------------------------------------------- */

    &:last-of-type {
      border-right: var(--border-layout);
    }

    &:first-of-type {
      border-left: 0px;
    }

    &:hover,
    &.open {
      @include case-hover();
      button {
        color: var(--background);
      }
    }
  }
}

// .page-list nav .sort{
//     height: 100%;
//     width: 100%;
//     justify-content: flex-end;
// }

/* SPECIFIC TO NARRATIVES PAGE ------------------------------ */

// #sort-narratives{
//         button{
//             height: calc(var(--case-unit)*1.5 - 1.5px);
//             width: calc(var(--case-unit)*1.5);
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             border-right: var(--border-layout);

//         }

//         [aria-sort="ascending"]::before{
//             transform: rotate(0deg);
//             content: "↓"
//         }
//         [aria-sort="descending"]::before{
//             transform: rotate(0deg);
//             content: '↑';
//         }

//     }

/* SORT LIST ---------------------------------------------------- */

.filter-list {
  background-color: rgba(var(--bg-rgb), 0.6);
  max-height: 0px;
  overflow: hidden;
  transition: max-height var(--time-transition);
  height: auto;

  &.open {
    border-bottom: var(--border-layout);
  }

  .container {
    padding: var(--padding);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;

    @include checkbox();
    label {
      display: block;
      font-size: var(--font-size);
      line-height: var(--baseline);
      color: var(--color-text);
      width: calc(var(--case-unit) * 8);
      margin-bottom: calc(var(--padding) / 2);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 2ch;
      padding-left: 2.5ch;

      &::first-letter {
        text-transform: capitalize;
      }

      &::before {
        position: absolute;
        left: 0px;
      }
    }
  }
}
