main nav {
  height: var(--nav-page-h);
  border-bottom: var(--border-layout);
  position: fixed;
  top: var(--header-h);
  width: 100vw;
  z-index: 10;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    @include case();
    @include title-group;
    border-right: var(--border-layout);
    min-width: calc(var(--case-unit) * 10);
    span.icon {
      @include icon(20px, var(--color-text));
      margin-right: 0.75ch;
      top: -3px;
    }
  }

  p.title {
    margin-left: var(--padding);
    font-weight: 500;
  }

  a.back {
    position: absolute;
    right: var(--padding);
    font-size: var(--font-size-small);
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  a.back::after {
    content: var(--arrow-right);
  }

  .group-button {
    display: flex;
    justify-content: flex-start;
  }

  button {
    border-right: var(--border-layout);
    min-width: calc(var(--case-unit) * 2);
    height: calc(var(--case-unit) * 2);
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      @include case-hover();
    }
  }
}

.page-list main nav,
#page-narratives-list main nav,
#home #home-narratives nav {
  width: 100%;
  position: sticky;
  top: 0px;

  h1 {
    flex-grow: 1;
  }

  button {
    padding-left: var(--padding);
    justify-content: flex-start;
    white-space: nowrap;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  button:not([data-category="all"]) {
    width: calc(var(--case-unit) * 10);
    span {
      @include icon(16px, var(--color-text));
      margin-right: 0.75ch;
    }
  }
  button[data-category="all"] {
    justify-content: flex-start;
    width: calc(var(--case-unit) * 4);
    border-right: none;
  }
}

@media screen and (max-width: 840px) {
  #page-narratives-list main nav {
    button {
      width: calc(var(--case-unit) * 2.5) !important;
    }
    button:not([data-category="all"]) {
      p {
        display: none;
      }
    }
  }
}

@media #{$small} {
  main nav {
    h1 {
      min-width: 1ch;
    }
    .back {
      display: none;
    }
    .title {
      max-width: 20ch;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
