#toggle-menu ~ #menu {
  max-height: 0;
}
#toggle-menu:checked ~ #menu {
  max-height: 100vh;
}

#menu {
  background-color: var(--background);

  z-index: 1000;
  position: fixed;
  top: var(--header-h);
  width: 100vw;
  font-size: var(--font-size-text);
  line-height: var(--baseline-text);
  overflow: hidden;
  transition: max-height var(--time-transition);
  height: calc(100vh - var(--header-h));

  .container {
    padding: var(--padding-page);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--padding);
    margin: 0 auto;
    // border-bottom: var(--border-layout-double);
  }

  li {
    // margin-bottom: calc(var(--baseline-text)*0.5);
    a {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      height: calc(var(--baseline-text) * 1.5);
      cursor: pointer;
      @include card();
      border-color: transparent;
      padding: 0.25ch 1ch;
      // border: var(--border-text);
      // border-radius: var()
      &:hover {
        border-color: var(--color-text);
        @include case-hover;
      }
      white-space: nowrap;
    }
  }

  #menu-notices span.icon {
    @include icon(20px, var(--color-text));
    margin-right: 0.75ch;
  }

  #menu-narrative [data-category] span.icon {
    @include icon(16px, var(--color-text));
    margin-right: 0.75ch;
    top: -1px;
  }

  .menu-static.about {
    margin-top: calc(var(--baseline-text) * 1.5);
  }

  #menu-home {
    margin-bottom: calc(var(--baseline-text) * 1.5);
  }
}

@media #{$tablet} {
  #menu {
    overflow: scroll;
  }

  #menu .container {
    display: block;
    margin-bottom: 20vh;

    ul {
      margin-bottom: var(--baseline-text);
      padding-bottom: var(--baseline-text);
      border-bottom: var(--border-text);
    }

    .about {
      border-top: var(--border-text);
      margin-top: var(--baseline-text);
      padding-top: var(--baseline-text);
    }
  }

  #menu-home {
    border-bottom: var(--border-layout);
    padding-bottom: var(--baseline-text);
    margin-bottom: var(--baseline-text) !important;
  }
}
