/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at https://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2023 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Horizon Type
 * License URL: https://www.fontspring.com/licenses/horizon-type/webfont
 *
 *
 */

@font-face {
  font-family: "acherusgrotesque";
  src: #{local-url("/fonts/acherusgrotesque-regita-webfont.woff2")} format("woff2"),
    #{local-url("/fonts/acherusgrotesque-regita-webfont.woff")} format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "acherusgrotesque";
  src: #{local-url("/fonts/acherusgrotesque-medium-webfont.woff2")} format("woff2"),
    #{local-url("/fonts/acherusgrotesque-medium-webfont.woff")} format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "acherusgrotesque";
  src: #{local-url("/fonts/acherusgrotesque-mediumitalic-webfont.woff2")} format("woff2"),
    #{local-url("/fonts/acherusgrotesque-mediumitalic-webfont.woff")} format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "acherusgrotesque";
  src: #{local-url("/fonts/acherusgrotesque-regular-webfont.woff2")} format("woff2"),
    #{local-url("/fonts/acherusgrotesque-regular-webfont.woff")} format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "acherusgrotesque";
  src: #{local-url("/fonts/acherusgrotesque-semibold-webfont.woff2")} format("woff2"),
    #{local-url("/fonts/acherusgrotesque-semibold-webfont.woff")} format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "acherusgrotesque";
  src: #{local-url("/fonts/acherusgrotesque-sembdita-webfont.woff2")} format("woff2"),
    #{local-url("/fonts/acherusgrotesque-sembdita-webfont.woff")} format("woff");
  font-weight: 600;
  font-style: italic;
}
