[data-type="people"],
[data-type="person"] {
  --icon: #{local-url("/icons/people.svg")};
}
[data-type="organisations"] {
  --icon: #{local-url("/icons/organisation.svg")};
}
[data-type="glossary"] {
  --icon: #{local-url("/icons/glossary.svg")};
}
[data-type="techniques"] {
  --icon: #{local-url("/icons/technique.svg")};
}
[data-type="objects"] {
  --icon: #{local-url("/icons/object.svg")};
}
[data-type="colours"] {
  --icon: #{local-url("/icons/colour.svg")};
}
[data-type="events"] {
  --icon: #{local-url("/icons/event.svg")};
}
[data-type="references"] {
  --icon: #{local-url("/icons/reference.svg")};
}

// NARRATIVES
[data-category="scape"] {
  --icon: #{local-url("/icons/cat-scape.svg")};
}
[data-category="pedagogy"] {
  --icon: #{local-url("/icons/cat-pedagogy.svg")};
}
[data-category="materiality"] {
  --icon: #{local-url("/icons/cat-materiality.svg")};
}

// SORT
[data-icon="sort-asct"] {
  --icon: #{local-url("/icons/sort-asct.svg")};
}
[data-icon="sort-dest"] {
  --icon: #{local-url("/icons/sort-dest.svg")};
}
[data-icon="sort-neutral"] {
  --icon: #{local-url("/icons/sort-neutral.svg")};
}

[data-icon="occ-neutral"] {
  --icon: #{local-url("/icons/occ-neutral.svg")};
}
[data-icon="occ-dest"] {
  --icon: #{local-url("/icons/occ-dest.svg")};
}
[data-icon="occ-asct"] {
  --icon: #{local-url("/icons/occ-asct.svg")};
}

[data-icon="numerised"],
[data-icon="digitalizedByChromotope"],
[data-digitalizedByChromotope="true"] {
  --icon: #{local-url("/icons/camera.svg")};
}

// COLOR WHEEL

[data-icon="plus-circle"] {
  --icon: #{local-url("/icons/plus-circle.svg")};
}
[data-icon="minus-circle"] {
  --icon: #{local-url("/icons/minus-circle.svg")};
}

[data-icon="plus-square"] {
  --icon: #{local-url("/icons/plus-square.svg")};
}
[data-icon="minus-square"] {
  --icon: #{local-url("/icons/minus-square.svg")};
}

[data-icon="zoom-plus"] {
  --icon: #{local-url("/icons/zoom-plus.svg")};
}
[data-icon="zoom-minus"] {
  --icon: #{local-url("/icons/zoom-minus.svg")};
}
