@mixin title-group() {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding-right: var(--padding);
}

@mixin title-group-bigger() {
  font-size: calc(var(--font-size)*1.3);
}



@mixin case() {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--padding);
}

@mixin case-hover() {
  cursor: pointer;
  background-color: var(--color-text) !important;
  color: var(--background) !important;
  span.icon,
  span[data-icon] {
    background-color: var(--background) !important;
  }
  input:checked + label::before {
    color: var(--background) !important;
  }
}

.selected,
.over {
  @include case-hover();
}

@mixin case-selected() {
  color: var(--background);
  background: var(--color-text);
  a::before,
  span::before {
    border-color: var(--background);
  }
}

@mixin icon-category($size, $color) {
  content: "";
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  display: inline-block;
  width: $size;
  height: $size;
  background-color: $color;
}

@mixin external-link($size, $color) {
  content: "";
  width: $size;
  height: $size;
  background-color: $color;
  display: inline-block;
  -webkit-mask-image: local-url("/icons/external.svg");
  mask-image: local-url("/icons/external.svg");
  mask-repeat: no-repeat;
  margin-right: 0.4ch;
  margin-left: 0.75ch;
  top: 1px;
}

@mixin link-underline() {
  text-decoration: underline dotted 1px #888;
      &:hover{ 
        text-decoration: underline currentColor;
      }
}

@mixin icon($size, $color) {
  content: "";
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  display: inline-block;
  width: $size !important;
  height: $size !important;
  background-color: $color;
  mask-repeat: no-repeat;
}

@mixin card() {
  background-color: rgba(var(--bg-rgb), 0.7);
  border-radius: 6px;
  border: var(--border-card);
}

@mixin checkbox() {
  input {
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    line-height: var(--baseline);
    &::before {
      content: "◼";
      line-height: 0px;
      display: flex;
      width: var(--font-size);
      height: var(--font-size);
      border: 1px solid var(--color-text);
      align-items: center;
      justify-content: center;
      margin-right: 0.75ch;
      padding-bottom: 3px;
      color: transparent;
      font-weight: normal;
    }
    &:hover {
      font-weight: 600;
    }
  }
  input:checked + label::before {
    color: var(--color-text);
  }
  input:checked + label {
    font-weight: 600;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: calc(var(--baseline)*2);
  p::after {
    content: "\00a0|";
    padding-right: 0.75ch;
    text-wrap: nowrap;
  }
  .profession span::after {
    content: " | ";
  }
  .profession span:last-of-type::after{
    content: "";
  }
  p:last-of-type::after {
    content: "";
  }
  // &:empty {
  //   display: none;
  // }
}

[onclick],
label,
button {
  cursor: pointer;
}

h1::first-letter,
p::first-letter{
  text-transform: capitalize;
}

