

$desktop: "screen and (min-width: 1200px)";
$medium: "screen and (max-width: 1200px)";
$tablet: "screen and (max-device-width : 1180px), (max-width: 1024px)";
$small: "screen and (max-width: 720px)";
$phone: "screen and (max-width: 560px)";


@media #{$medium}{
    :root{
        --font-size-text: 18px;
        --baseline-text: 26px;
    }
}


@media #{$tablet} {
    :root{
        --max-w: 700px;
    }
}


@media #{$small} {
    :root{
        --padding-page: var(--padding);
        --font-title-page: calc(var(--font-size-text)*1.5);
        --baseline-title-page: calc(var(--baseline-text) * 1.3);
        //--color-text: purple;
    }

}