:root {
  --font: "acherusgrotesque", helvetica, arial, sans-serif;
  --font-size: 14px;
  --font-size-small: 12px;
  --font-size-xs-small: 9px;
  --baseline: 1.3em;
  --font-size-text: 20px;
  --baseline-text: 29px;

  --font-title-page: calc(var(--font-size-text) * 2);
  --baseline-title-page: calc(var(--baseline-text) * 1.5);

  --time-transition: 0.5s;

  --max-w: 100%;
  --max-w-text: 780px;

  --color-text: #222;
  --color-text-light: #343434;
  --color-text-grey: #888;

  --border-layout: 1.5px solid #888;
  --border-layout-double: 4.5px double #888;
  --border-card: 1.5px solid #b3adb7;
  --border-text: 1px solid var(--color-text-light);
  --border-text-light: 1px solid var(--color-text-grey);
  --border-img: 1px solid #999;

  --chromo: #612d87;

  --background: rgb(245, 242, 245);
  --bg-rgb: 245, 242, 245;

  --header-h: 60px;
  --padding: #{$padding};
  --case-unit: #{$caseUnit};
  --padding-page: 44px;
  --closed: var(--case-unit);

  --arrow-right: "\00a0→";
}

body {
  background-color: var(--background);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--baseline);
  color: var(--color-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  color: currentColor;
  cursor: pointer;
}

figure,
img {
  width: 100%;
}

button {
  background: none;
  border: none;
}
