---
import { NarrativeCompleteFragment } from "../../__generated__/graphql";
import InternalImage from "../InternalImage.astro";
import InternalLink from "../InternalLink.astro";
import NarrativeTitle from "./NarrativeTitle.astro";
interface Props {
  narrative: Pick<
    NarrativeCompleteFragment,
    "id" | "title" | "cover" | "category" | "date" | "slug" | "authors"
  >;
}
const { narrative } = Astro.props;
---

{
  narrative && (
    <article
      data-card-id={narrative.slug}
      data-category={narrative.category?.slug}
      data-author={narrative.authors?.map((a) => a.name).join(",")}
      data-date={narrative.date}
      data-title={narrative.title}
    >
      <figure>
        {narrative.cover && (
          <InternalImage
            media={narrative.cover}
            cover
            widths={[{ max: 1180, width: 770 }, { width: 610 }]}
          />
        )}
      </figure>

      <div class="details">
        {narrative.category && (
          <p class="category-narrative" data-category={narrative.category.slug}>
            <span class="icon" />
            {narrative.category.title}
          </p>
        )}
        <p class="date-narrative" data-date={narrative.date}>
          {narrative.date?.slice(0, 4)}
        </p>
      </div>

      <div class="hgroup">
        <InternalLink href={`/narratives/${narrative.slug}`}>
          <h1><NarrativeTitle title={narrative.title||''}/></h1>
          {narrative.authors?.map((a) => (
            <p class="author">{a.name}</p>
          ))}
        </InternalLink>
      </div>

      <InternalLink class="read" href={`/narratives/${narrative.slug}`}>
        <>
          <p>Read</p>
          <span />
        </>
      </InternalLink>
    </article>
  )
}
