---
interface Props {
    title: string
}
const {title} = Astro.props
const italicRegexp = /\*\s?([^\n]+?)\*/g

const titleWithItalics = title.replaceAll(italicRegexp, "<i>$1</i>");

---
<Fragment set:html={titleWithItalics}></Fragment>