---
import { NarrativeCompleteFragment } from "../../__generated__/graphql";
import { getNarratives } from "../../data/narrative";
import { getNarrativeCategory } from "../../data/narrativeCategory";
import Layout from "../../layouts/Layout.astro";
import NarrativeCard from "../../components/narrative/NarrativeCard.astro";
import InternalLink from "../../components/InternalLink.astro";
import NarrativeContent from "./documentRenderer/NarrativeContent.astro";
import { sortBy } from "lodash";

interface Props {
  categorySlug: "materiality" | "scape" | "pedagogy" | "all";
}
const { categorySlug } = Astro.props;
const category =
  categorySlug !== "all" ? await getNarrativeCategory(categorySlug) : undefined;
const narratives = category
  ? (category.narratives as NarrativeCompleteFragment[])
  : await getNarratives();
---

<Layout title="Narratives" id="page-narratives-list">
  <nav>
    <h1>Narratives</h1>
    <InternalLink
      href="/narratives/scape"
      class={categorySlug === "scape" ? "selected" : undefined}
    >
      <button
        data-category="scape"
        class={categorySlug === "scape" ? "selected" : undefined}
      >
        <span class="icon"></span><p>Colour scape</p>
      </button>
    </InternalLink>
    <InternalLink
      href="/narratives/pedagogy"
      class={categorySlug === "pedagogy" ? "selected" : undefined}
    >
      <button
        data-category="pedagogy"
        class={categorySlug === "pedagogy" ? "selected" : undefined}
        ><span class="icon"></span><p>Colour pedagogy</p></button
      >
    </InternalLink>
    <InternalLink
      href="/narratives/materiality"
      class={categorySlug === "materiality" ? "selected" : undefined}
    >
      <button
        data-category="materiality"
        onclick=""
        class={categorySlug === "materiality" ? "selected" : undefined}
        ><span class="icon"></span><p>Colour materiality</p></button
      >
    </InternalLink>
    <InternalLink
      href="/narratives"
      class={categorySlug === "all" ? "selected" : undefined}
    >
      <button
        data-category="all"
        class={categorySlug === "all" ? "selected" : undefined}
        ><p>All</p></button
      >
    </InternalLink>
  </nav>
  <form class="sort" id="sort-narratives">
    <div
      class="group-sort"
      data-sort-type="sort-button"
      data-sort-field="title"
    >
      <button aria-label="Sort narratives by title">
        <span class="selected" data-icon="sort-asct" data-aria-sort="ascending"
        ></span>
        <span class="" data-icon="sort-dest" data-aria-sort="descending"></span>
        <span class="" data-icon="sort-neutral" data-aria-sort="none"></span>
      </button>
      <p>Title</p>
    </div>
    <div
      class="group-sort"
      data-sort-type="sort-button"
      data-sort-field="author"
    >
      <button aria-label="Sort narratives by author">
        <span class="" data-icon="sort-asct" data-aria-sort="ascending"></span>
        <span class="" data-icon="sort-dest" data-aria-sort="descending"></span>
        <span class="selected" data-icon="sort-neutral" data-aria-sort="none"
        ></span>
      </button>
      <p>Author</p>
    </div>
    <div class="group-sort" data-sort-type="sort-button" data-sort-field="date">
      <button aria-label="Sort narratives by date">
        <span class="" data-icon="sort-asct" data-aria-sort="ascending"></span>
        <span class="" data-icon="sort-dest" data-aria-sort="descending"></span>
        <span class="selected" data-icon="sort-neutral" data-aria-sort="none"
        ></span>
      </button>
      <p>Date</p>
    </div>
  </form>

  <section class="content-container" id="narratives-list-section">
    {
      category?.description && (
        <div class="description">
          <NarrativeContent document={category.description.document} />
        </div>
      )
    }
    {
      Array.isArray(narratives) &&
        sortBy(narratives, (n) => n.title).map((narrative) => (
          <NarrativeCard narrative={narrative} />
        ))
    }
  </section>
</Layout>
<!-- EVENTS -->
<script>
  import { reverse, sortBy } from "lodash";

  // SORT ACTION
  function sort(
    group: HTMLElement,
    sortKey: "ascending" | "descending" | "none",
  ) {
    //other groups
    if (sortKey !== "none")
      //remove selected state everywhere
      document
        .querySelectorAll("[data-sort-type='sort-button']")
        .forEach((otherGroup) => {
          if (otherGroup !== group) {
            sort(otherGroup as HTMLElement, "none");
          }
        });

    group
      .querySelectorAll("span")
      .forEach((s) => s.classList.remove("selected"));
    group
      .querySelector(`[data-aria-sort='${sortKey}']`)
      ?.classList.add("selected");
    const sortField = group.dataset.sortField;
    if (sortField && sortKey !== "none") {
      // do sort
      const list = document.querySelector("#narratives-list-section");
      if (list) {
        const articles = list.querySelectorAll("article");
        let sorted = sortBy(articles, (a) => a.dataset[sortField]);
        if (sortKey === "descending") sorted = reverse(sorted);
        sorted.forEach((a) => list.appendChild(a));
      }
      const url = new URL(document.URL);
      url.searchParams.set(
        "sort",
        [group.dataset.sortField, sortKey].join("-"),
      );

      history.pushState(null, "", url);
      //add search params to links
      document.querySelectorAll("main nav a").forEach((a) => {
        const newURL = new URL((a as HTMLAnchorElement).href);
        newURL.searchParams.set("sort", [sortField, sortKey].join("-"));
        (a as HTMLAnchorElement).href = newURL.toString();
      });
    }
  }

  // ADD SORT ACTION ON CLICK
  document
    .querySelectorAll("[data-sort-type='sort-button']")
    .forEach((element) => {
      element.addEventListener("click", (e) => {
        e.preventDefault();
        // check if this sort was already selected
        const selected = element.querySelector("span.selected") as HTMLElement;

        if (selected) {
          switch (selected.dataset.ariaSort) {
            case "none":
            case "descending":
              sort(element as HTMLElement, "ascending");
              break;
            case "ascending":
              sort(element as HTMLElement, "descending");
              break;
          }
        }
      });
    });

  // get sort params from URL
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  const sortParams = params.sort;
  if (sortParams) {
    const [field, direction] = sortParams.split("-");
    const group = document.querySelector(`[data-sort-field='${field}']`);
    if (group && ["ascending", "descending"].includes(direction))
      sort(group as HTMLElement, direction as "ascending" | "descending");
  }
</script>
