---
import { InferGetStaticPropsType } from "astro";

import { getItem, getStaticPathsFactory } from "../../data";

import { OrganisationCompleteFragment } from "../../__generated__/graphql";
import InternalLink from "../../components/InternalLink.astro";
import NarrativeCard from "../../components/narrative/NarrativeCard.astro";
import NarrativeContent from "../../components/narrative/documentRenderer/NarrativeContent.astro";
import Layout from "../../layouts/Layout.astro";

// prepare static paths and props
export const getStaticPaths =
  getStaticPathsFactory<OrganisationCompleteFragment>("Organisation");
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { slug } = Astro.params;

// get Item value either from static or by API call when SSR
const organisation = await getItem<OrganisationCompleteFragment>(
  Astro.props.item,
  "Organisation",
  { slug },
);

// handle 404
if (!organisation)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
---

<Layout
  title="Organisation"
  id="page-notice-organisation"
  className="page-notice"
>
  <nav>
    <InternalLink class="back" href="/organisations">
      <h1 data-type="organisations"><span class="icon"></span>Organisations</h1>
    </InternalLink>
    <p class="title">{organisation.label}</p>
  </nav>

  <div class="content-container" id="content">
    <header>
      <h1>{organisation.label}</h1>
      <div class="label-list">
        {organisation.type && <p class="type">{organisation.type?.label}</p>}
        {
          organisation.dateOfInception && (
            <p class="date">{organisation.dateOfInception.slice(0, 4)}</p>
          )
        }
      </div>
    </header>

    {
      organisation.description && (
        <div class="text">
          <NarrativeContent document={organisation.description.document} />
        </div>
      )
    }

    {
      organisation.narratives && organisation.narratives.length > 0 && (
        <section id="narratives-list">
          <h1>cited in narratives</h1>
          {organisation.narratives.map((n) => (
            <NarrativeCard narrative={n} />
          ))}
        </section>
      )
    }
  </div>
</Layout>
