---
import InternalLink from "../../components/InternalLink.astro";
import FilterNoticeList from "../../components/filterNoticeList/FilterNoticeList.astro";
import { getOrganisations } from "../../data/organisation";
import Layout from "../../layouts/Layout.astro";

const organisations = await getOrganisations();
const organisationTypes = organisations.reduce((types, organisation) => {
  if (organisation.type && organisation.type.label)
    types.add(organisation.type.label);
  return types;
}, new Set<string>());
---

<Layout title="Organisation" id="list-organisations" className="page-list">
  <!-- NAV ____________________________________ -->
  <nav>
    <h1 data-type="organisations"><span class="icon"></span>Organisations</h1>
    <InternalLink class="back" href="/">Back home</InternalLink>
  </nav>
  <!--  end nav -->

  <FilterNoticeList
    multiValueFilter={{
      field: "type",
      options: [...organisationTypes],
      label: "Type",
    }}
  />

  <!-- CONTENT ________________________________________ -->
  <section class="content-container">
    <div class="list-container">
      <h1 data-type="organisations"><span class="icon"></span>Organisations</h1>
      {
        (organisations || []).map((o) => (
          <article
            class="notice-card"
            data-notice="organisation"
            data-type={o.type?.label}
          >
            <InternalLink href={`/organisations/${o.slug}`}>
              <h1>{o.label}</h1>
              {o.narratives && (
                <p class="occurences">Cited in {o.narratives.length} narrative(s)</p>
              )}
            </InternalLink>
            <div class="label-list">
                {o.type && <p class="type">{o.type?.label}</p>}
                {o.dateOfInception && (
                  <p class="date">{o.dateOfInception.slice(0, 4)}</p>
                )}
            </div>
          </article>
        ))
      }
      </div>
  </section>

  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->
    <section id="nav-list-notices">
      <div class="notices-group" data-type="people">
        <InternalLink href="/people">
          <span class="icon"></span><p>People</p>
        </InternalLink>
      </div>
      <div class="notices-group selected" data-type="organisations">
        <InternalLink href="/organisations">
          <span class="icon"></span><p>Organisations</p>
        </InternalLink>
      </div>
      <div class="notices-group" data-type="objects">
        <InternalLink href="/objects">
          <span class="icon"></span><p>Objects</p>
        </InternalLink>
      </div>
      <div class="notices-group" data-type="glossary">
        <InternalLink href="/glossary">
          <span class="icon"></span><p>Glossary</p>
        </InternalLink>
      </div>
      <div class="notices-group" data-type="colours">
        <InternalLink href="/colours">
          <span class="icon"></span><p>Colour names</p>
        </InternalLink>
      </div>
      <div class="notices-group" data-type="events">
        <InternalLink href="/events">
          <span class="icon"></span><p>Events</p>
        </InternalLink>
      </div>
    </section>

</Layout>
