---
import { InferGetStaticPropsType } from "astro";

import { getItem, getStaticPathsFactory } from "../../data";

import { EventCompleteFragment } from "../../__generated__/graphql";
import InternalLink from "../../components/InternalLink.astro";
import EventDetails from "../../components/event/EventDetails.astro";
import NarrativeCard from "../../components/narrative/NarrativeCard.astro";
import NarrativeContent from "../../components/narrative/documentRenderer/NarrativeContent.astro";
import Layout from "../../layouts/Layout.astro";

// prepare static paths and props
export const getStaticPaths =
  getStaticPathsFactory<EventCompleteFragment>("Event");
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { slug } = Astro.params;

// get Item value either from static or by API call when SSR
const event = await getItem<EventCompleteFragment>(Astro.props.item, "Event", {
  slug,
});

// handle 404
if (!event)
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
---

<Layout title="Event" id="page-notice-event" className="page-notice">
  <nav>
    <InternalLink href="/events" title="See all events">
      <h1 data-type="events">
        <span class="icon"></span>Events
      </h1>
    </InternalLink>
    <p class="title">{event.label}</p>
    <!-- <InternalLink class="back" href="/events">See all events</InternalLink> -->
  </nav>

  <div class="content-container" id="content">
    <header>
      <h1>{event.label}</h1>
      <EventDetails event={event} />
    </header>

    {
      event.description && (
        <div class="text">
          <NarrativeContent document={event.description.document} />
        </div>
      )
    }

    {
      event.narratives && event.narratives.length > 0 && (
        <section id="narratives-list">
          <h1>cited in narratives</h1>
          {event.narratives.map((n) => (
            <NarrativeCard narrative={n} />
          ))}
        </section>
      )
    }
  </div>
</Layout>
