---
import InternalLink from "../../components/InternalLink.astro";
import EventDetails from "../../components/event/EventDetails.astro";
import FilterNoticeList from "../../components/filterNoticeList/FilterNoticeList.astro";
import NoticesMenu from "../../components/layout/NoticesMenu.astro";
import { getEvents } from "../../data/event";
import Layout from "../../layouts/Layout.astro";

const events = await getEvents();
const eventTypes = events.reduce((types, event) => {
  if (event.type && event.type.label) types.add(event.type.label);
  return types;
}, new Set<string>());
---

<Layout title="People" id="list-events" className="page-list">
  <!-- NAV ____________________________________ -->
  <nav>
    <h1 data-type="events"><span class="icon"></span>Events</h1>
    <InternalLink class="back" href="/">Back home</InternalLink>
  </nav>
  <!--  end nav -->

  <FilterNoticeList
    multiValueFilter={{
      field: "type",
      options: [...eventTypes],
      label: "Type",
    }}
  />

  <!-- CONTENT ________________________________________ -->
  <section class="content-container">
  <div class="list-container">
  <h1 data-type="events"><span class="icon"></span>Events</h1>
    {
      (events || []).map((event) => (
        <article
          class="notice-card"
          data-notice="events"
          data-type={event.type?.label}
        >
          <InternalLink href={`/events/${event.slug}`}>
            <h1>{event.label}</h1>
            {event.narratives && (
              <p class="occurences">Cited in {event.narratives.length} narrative(s)</p>
            )}
          </InternalLink>
          <EventDetails event={event} />
        </article>
      ))
    }
  </div>
  </section>


  <!-- LISTS OF NOTICES ---------------------------------------------------------- -->
  <NoticesMenu selected="events"/>
    
</Layout>
