---
import { keys } from "lodash";
import InternalLink from "../../InternalLink.astro";
import { InlineNode, ListItemNode, Mark } from "./types";

interface Props {
  node: InlineNode | ListItemNode;
}

const INLINE: Record<Mark, string> = {
  bold: "strong",
  code: "code",
  keyboard: "kbd",
  strikethrough: "s",
  italic: "em",
  subscript: "sub",
  superscript: "sup",
  underline: "u",
};
const INLINE_MARKS = keys(INLINE) as Mark[];

const { node } = Astro.props;

// pick the right inline mark-up
let Element = "span";
if ("text" in node && node.text && node.text !== "" && !("type" in node)) {
  //inline

  const mark = INLINE_MARKS.filter((m) => m in node && node[m] === true);
  if (mark.length > 0) Element = INLINE[mark[0]]; // 0 is arbitrary here
}
---

<!-- RELATIONSHIP  (no children possible.. sadly...) -->{
  "type" in node &&
    node.type === "relationship" &&
    node.data &&
    node.data.data && (
      <InternalLink
        target="_blank"
        href={`/${node.relationship}/${node.data.data.slug}`}
        class="notice-link"
        data-type={node.relationship}
        data-text={node.data.label}
        data-id={node.data.id}
      />
    )
}
<!-- LINKS -->
{
  "type" in node && node.type === "link" && (
    <InternalLink target="_blank" href={node.href as string}>
      <slot />
    </InternalLink>
  )
}
<!-- TEXT WITH OR WITHOUT MARKS -->
{"text" in node && node.text !== "" && <Element>{node.text}</Element>}

{
  "type" in node && node.type === "list-item" && (
    <li>
      <slot />
    </li>
  )
}
{"type" in node && node.type === "list-item-content" && <slot />}
