---
import { hsvaToHslString } from "@uiw/color-convert";
import cx from "classnames";

import { extractRelationshipsFromParagraph } from "@chromobase/editor/schema/Narrative";
import { colourId } from "../../../pages/colours/utils";
import InternalImage from "../../InternalImage.astro";
import InternalLink from "../../InternalLink.astro";
import NarrativeContentInlineNode from "./NarrativeContentInlineNode.astro";
import { RelationshipNode, TopLevelNode } from "./types";

interface Props {
  topLevelNode: TopLevelNode;
}

const { topLevelNode } = Astro.props;

const paragraphsRelationships =
  topLevelNode.type === "paragraph"
    ? extractRelationshipsFromParagraph(topLevelNode, true)
    : [];

let Container = "p";
if (topLevelNode.type === "ordered-list") Container = "ol";
if (topLevelNode.type === "unordered-list") Container = "ul";
if (topLevelNode.type === "heading") Container = `h${topLevelNode.level}`;


const modelName = (relationship:RelationshipNode) => relationship.relationship !== 'glossary' || relationship.data?.data.type?.category === "glossary" ? relationship.relationship :  "techniques";
---

<!-- ASIDE ELEMENTS FROM RELATIONSHIPS -->{
  paragraphsRelationships.length > 0 && (
    <div class="list-aside">
      {paragraphsRelationships.map((relationship) => (
        <>
          {relationship.data && (
            <button
              class={cx(
                "button-notice",
                relationship.relationship === "objects" && "type-object",
                relationship.data.data.narrativesCount < 2 && "no-interest",
              )}
              data-type={modelName(relationship) }
              data-id={relationship.data.id}
            >
              {relationship.relationship != "Colour" &&
              relationship.data.data.slug ? (
                <InternalLink
                  href={`/${modelName(relationship)}/${relationship.data.data.slug}`}
                >
                  <span class="icon" />
                  {relationship.data.label}
                  {"cover" in relationship.data.data && (
                    <div class="image">
                      <InternalImage
                        media={relationship.data.data.cover}
                        cover
                        widths={[
                          {
                            width: 280,
                          },
                        ]}
                      />
                    </div>
                  )}
                </InternalLink>
              ) : (
                // case colour
                <InternalLink
                  href={`/colours#${colourId(relationship.data.data)}`}
                >
                  <span
                    class="icon"
                    style={`--color-text-light:${hsvaToHslString({
                      ...relationship.data.data.color,
                      a: 1,
                    })}`}
                  />
                  {relationship.data.label}
                  {"cover" in relationship.data.data && (
                    <div class="image">
                      <InternalImage
                        media={relationship.data.data.cover}
                        cover
                        widths={[
                          {
                            width: 280,
                          },
                        ]}
                      />
                    </div>
                  )}
                </InternalLink>
              )}
            </button>
          )}
        </>
      ))}
    </div>
  )
}
<!-- PARAGRAPH CONTENT -->
<Container>
  {
    topLevelNode.children.map(function renderInline(child) {
      return (
        <NarrativeContentInlineNode node={child}>
          {"children" in child && child.children
            ? child.children.map((grandChild) => renderInline(grandChild))
            : null}
        </NarrativeContentInlineNode>
      );
    })
  }
</Container>
